/*
Theme Name: Starry 
Theme URI: http://themeforest.net/user/alkaweb
Author: ALKALAB
Author URI: http://themeforest.net/user/alkaweb
Description: Starry - Creative & Easy Responsive Wordpress theme
Version: 1.3.4
Text Domain: starry
Tags: black, gray, white, dark, light, two-columns, left-sidebar, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, sticky-post, threaded-comments, translation-ready
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Domain Path: /languages
*/
/******************************************************************************************************************************

    MAP

    1. MAIN STYLE

    2. HEADER

    3. MAIN CONTAINER

    4. SKILLS

    5. PORTFOLIO

	6. CUSTOM SECTION SHORTCODE + PARALLAX

	7. ABOUT

	8. PARTNERS

	9. BLOG

	10. CONTACT

	11. EVENTS

	12. FOOTER

	13. WORDPRESS CORE 

	14. PLUGINS
    
*******************************************************************************************************************************/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* MAIN STYLE
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
html,body{ margin:0; padding:0; height:100%; width:100%; 
}
/* SOME CSS WITH NO CUSTOMIZATION THROUGH WORDPRESS */
.main-container .btn, figure.effect-sadie h4, .main-container a.blog-post-title h2,#blog-container .blog-post-title h2, .widget h4, #top-navigation ul.sub-menu li, #navigation ul li a,#navigation ul.sub-menu li a,#top-navigation ul.sub-menu li a{
	letter-spacing: 1px;
}
#header #navigation ul.sub-menu li, #top-navigation ul.sub-menu li, #navigation ul.sub-menu li:hover, #top-navigation ul.sub-menu li:hover{
	border-bottom-color: #424242;
}
#navigation  .mega-menu > ul.sub-menu,#navigation  .mega-menu > ul.sub-menu ul.sub-menu{
	border-right: 1px solid #424242;
}
/*FIX ALIGNEMENT WITH UNYSON PAGE BUILDER*/
.fw-page-builder-content .fw-row .fw-col-xs-12 {
	padding-left: 0 !important;
}
/* LINK */
a, a:hover{
	text-decoration: none;
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
}
button:hover{
	opacity: .8;
    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
            transition-duration: 0.6s;
}
button:focus{outline:0;}
.with-separation-top, .with-separation-bottom{
	position: relative;
}
.with-separation-bottom:after{
	content: "";
	background-image: url("images/breaker.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 90px;
}
.with-separation-top:before{
	content: "";
	background-image: url("images/breaker-bottom.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center -40px;
	position: absolute;
	top: -20px;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 90px;
}
/* IE10 and Greater */ 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	.with-separation-top:before {top: 0px;} 
	.with-separation-bottom:after {bottom: -30px;}
} 
/* ::selection{color: #FFF;}
::-moz-selection{color: #FFF;} */
/* SCROLL TOP */
#scroll-top{
	position: fixed;
	right: 30px;
	display: none;
	bottom: 60px;
	z-index: 5;
	font-size: 2em;
	color: rgba(50,50,50,.6);
	background: rgba(255,255,255,.8);
	padding: 0 10px;
	border-radius: 2px;
}
#scroll-top:hover{
	color: rgba(50,50,50,1);
	background: rgba(255,255,255,1);
}
/*PAGE LOADER*/
#loader{
	position: fixed;
	z-index: 100;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: #FFF;
}
#loading-logo{
	position: relative;
	top: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
}
/*BOXED LAYOUT*/
body.boxed #page{
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
	position: relative;
	background: #FFF;
}
body.boxed #page #navigation{
	width: 95%;
}
/*IF USSER IS LOGGED IN -> BETTER OVERVIEW -> SCROLL ISUE WITH THE ADMIN BAR*/
.logged-in.admin-bar #navigation.navigation-fixed{
	top: 32px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* HEADER 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#header{
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	font-size: 1em;
}
#header-canvas{
	position: relative;
	z-index: 3;
}
#header-slider{
	width: 100%;
	z-index: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
#header-slider img{
	width: 100%;
}
#sliderPrev,
#sliderNext{
	font-size: 2em;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	z-index: 4;
	opacity: .4;
}
#sliderPrev:hover,
#sliderNext:hover{
	opacity: 1;
}
#sliderPrev{
	left: 50px;
}
#sliderNext{
	right: 50px;
}
#header.big{
	min-height: 100vh;
}
/*HEADER VIDEO*/
#header-video{
	width: 100%;
	z-index: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
#header-video video{
	width: 100% !important;
}

/* TOP NAVIGATION */
#top-navigation ul{
	text-align: center;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 11;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid rgba(255,255,255,.2);
}
#top-navigation ul.social-icons{
	position: relative;
	display: inline;
	border-bottom: 0;
}
#top-navigation ul.social-icons li{
	display: inline;
	font-size: 1em;
	padding: 0 2px;
}
#top-navigation ul li{
	list-style-type: none;
	display: inline-block;
	line-height: 30px;
	padding: 0 10px;
	font-size: .9em;
	margin: 0;
	border-left: 1px solid rgba(255,255,255,.2);
	opacity: .7;
	position: relative;
}
#top-navigation ul li:first-child{
	border-left: none;
}
#top-navigation ul li:hover {
	opacity: 1;
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
}
#top-navigation ul li i{
	padding: 0 8px 0 8px;
}
#top-navigation ul li.menu-item-has-children ul{
	display: none;
}
#top-navigation ul.sub-menu{
	position: absolute;
	right: -15px;
	border-bottom: 0;
	width: 120px;
	top: 30px;
}
#top-navigation ul.sub-menu.open{
	display: block;
}
#top-navigation ul.sub-menu li{
	font-weight: normal;
	line-height: 20px;
	opacity: 1;
}
#top-navigation span.navigation-social{
	padding-right: 6px;
}
/* SEARCHFORM */
#header #search-container{
	display: none;
}
#header #search-container.clicked{
	display: inline-block;
}
#header #search-toggle{
	display: inline-block;
}
#header #search-toggle i:before{
	content: "\f002";
}
#header #search-toggle.clicked i:before{
	content: "\f00d";
}
#header #search-container input,
#header #search-container button{
	background: transparent;
	border: 0;
	padding: 0;
}
#header #search-container button:hover{
	opacity: .6;
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
}
/* MENU */
#navigation{
	position: absolute;
	z-index: 10;
	width: 100%;
}
#left-navigation{
	text-align: right;
	padding-left: 0;
	position: relative;
	display: block;
	width: 38%;
	float: left;
}
#right-navigation{
	text-align: left;
	padding-left: 0;
	position: relative;
	display: block;
	width: 38%;
	float: left;
}
#navigation ul li{
	display: inline-block;
	list-style-type: none;
	margin: 0 20px; 
	padding: 10px 0 10px 0;
	text-align: center;
	position: relative;
	text-shadow: 0px 0px 10px rgba(0,0,0,.2);
}
#navigation ul li a,
#navigation ul li a:hover,
#navigation ul li a:visited,
#navigation ul li a:active{
	text-decoration: none;
}
#navigation ul li.current-menu-item, #navigation ul li:hover{
	border-bottom: 1px solid rgba(255,255,255,.8);
}
#navigation ul li a i.fa{
	padding-right: 6px;
}
#header #navigation ul li a:after {
	opacity: .7;	
	content: attr(data-description);
	letter-spacing: 0;
	font-size: .9em;
	display: block;
	text-align: center;
	text-transform: none;
}
#navigation ul li a:hover, #header #navigation ul li a:hover:after{
	opacity: .4;
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
}
/* SUBMENU */
#navigation ul.sub-menu .menu-item-has-children{
	position: relative;
}
#navigation ul.sub-menu{
	display: none;
	position: absolute;
	top: 40px;
	width: 160px;
	padding-left: 0;
	z-index: 3;
}
#navigation li.menu-item-has-description ul.sub-menu{
	top: 45px;
}
#navigation ul.sub-menu.open{
	display: block;
}
#navigation ul.sub-menu li,
#top-navigation ul.sub-menu li{
	position: relative;
	text-shadow: none;
	margin: 0;
	height: auto;
	text-align: left;
	float: none;
	width: 100%;
	display: block;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid;
}
#navigation ul.sub-menu li:last-child,
#navigation ul.sub-menu li:last-child:hover,
#top-navigation ul.sub-menu li:last-child,
#top-navigation ul.sub-menu li:last-child:hover{
	border-bottom: 0;
}
#navigation ul.sub-menu li a,
#top-navigation ul.sub-menu li a{
	text-transform: inherit;
	font-size: 0.9em;
	width: 100%;
	line-height: 1.1em;
	display: block;
	margin: 0;
	padding: 12px 10px 10px 10px;
	-webkit-font-smoothing: antialiased;
}
#navigation ul.sub-menu li a:hover,
#top-navigation ul.sub-menu li a:hover{
	opacity: 1;
}
#navigation ul.sub-menu li:hover,
#top-navigation ul.sub-menu li:hover{
	border-bottom: 1px solid;
}
#navigation ul.sub-menu li:hover:after {
	border: 0;
	border-color: transparent;
}
/*ICON*/
#navigation a:before,
#navigation-mobile a:before,
#top-navigation ul li a:before {
	font-family: 'FontAwesome';
	font-style: normal;
	position: relative;
	line-height: 0;
	margin-right: 8px;
	top: 1px;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	width: 1em;
	text-align: center;
}
/* MEGA MENU */
.mega-menu {
	position: absolute;
	top: 45px;
	display: none;
}
.mega-menu.open{
	display: block;
}
#navigation  .mega-menu > ul.sub-menu:last-child,
#navigation  .mega-menu > ul.sub-menu:last-child ul.sub-menu{
	border-right: 0;
}
#navigation .mega-menu ul.sub-menu li{
	border-bottom: 0;
}
#navigation ul.sub-menu.mega-menu-row{
	width: 190px;
	display: block !important;
	position: relative;
	float: left;
	top: 0;
}
#navigation ul.sub-menu.mega-menu-row:after{
	clear: both;
}
#navigation ul.sub-menu.mega-menu-row .sub-menu{
	top: 0;
	display: block !important;
	width: 190px;
	position: relative;
}
#navigation ul.sub-menu.mega-menu-row .sub-menu li a{
	padding-left: 30px;
}
/* LANGUAGE SWITCHER IN MAIN MENU */
#navigation ul li.language-switcher{
	border-bottom: 0 !important;
}
#navigation ul li.language-switcher:after{
	border: 0 !important;
}
#navigation ul li.language-switcher a{
	top: -10px;
	position: relative;
}
/* LOGO */
#logo-container-no-menu a#logo-navigation{
	float: none;
	margin: auto;
}
a#logo-navigation{
	text-align: center;
	display: block;
	width: 24%;
	position: relative;
	float: left;
	background-position: center;
	background-repeat: no-repeat;
}
a#logo-navigation:hover{
	opacity: .5;
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
}
#logo-navigation span{
	opacity: .9;
	position: absolute;
	font-size: .9em;
	bottom: -12px;
	display: block;
	text-shadow: 0px 0px 4px rgba(0,0,0,.5);
	width: 100%;

}
/* NAVIGATION FIXED*/
#navigation.navigation-fixed{
	background: #FFF;
	z-index: 6;
	top: 0;
	height: 56px;
}
#navigation.navigation-fixed:before{
	content: "";
	background-image: url("images/breaker-bottom.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	position: absolute;
	top: 50px;
	z-index: 0;
	width: 100%;
	height: 35px;
	left: 0;
}
#navigation.navigation-fixed #logo-navigation span{
	display: none;
}
#navigation.navigation-fixed a#logo-navigation{
	top: 0;
}
#navigation.navigation-fixed #left-navigation, 
#navigation.navigation-fixed #right-navigation{
	margin-bottom: 0;
}
#navigation.navigation-fixed ul li{
	padding: 0;
	line-height: 55px;
}
#navigation.navigation-fixed ul.sub-menu li{
	line-height: 26px;
}
#navigation.navigation-fixed ul li{
	text-shadow: none;
}
#header #navigation.navigation-fixed ul li a:after{
	display: none !important;
}
#navigation.navigation-fixed ul.sub-menu li a,
#navigation.navigation-fixed ul li.current-menu-item a,
#navigation.navigation-fixed ul li a:hover{
	opacity: 1;
}
#navigation.navigation-fixed ul li.language-switcher a{
	top: 0;
}
#navigation.navigation-fixed ul.sub-menu{
	z-index: 10;
	/*right: -60px;*/
}
/* MOBILE MENU */
#navigation-mobile, #close-navigation-mobile, #show-mobile-menu{ display: none;}
#show-mobile-menu{
	position: fixed;
	z-index: 10;
	left: 40px;
	font-size: 2em;
	top: 50px;
}
#navigation #show-mobile-menu.mobile-button-left{ left: 240px;}
#navigation-mobile.display-nav-menu{ left: 0px; }
#navigation-mobile{
	position: fixed;
	width: 200px;
	z-index: 15;
	top: 0;
	height: 100%;
	left: 0;
	padding: 20px;
	left: -400px;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}
#header a#close-navigation-mobile{
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 1.4em;
}
#navigation-mobile #left-navigation, 
#navigation-mobile #right-navigation{
	float: none;
	text-align: left;
	width: 100%;
	list-style-type: none;
}
#navigation-mobile li{
	line-height: 30px;
}
#header #navigation-mobile li a{ 
	display: block;
	padding: 5px 0;
	border-bottom: 1px solid rgba(255,255,255,.2);
}
#header #navigation-mobile ul.sub-menu li{
	list-style-type: none;
	font-size: .9em;
	line-height: 20px;
}
#header #navigation-mobile #logo-navigation{display: none;}
#header #navigation-mobile ul.sub-menu li a{
	border-bottom: 0;
}
/* SCROLL BOTTOM */
#scroll-bottom{
	position: fixed;
	bottom: 30px;
	width: 100%;
	z-index: 4;
	text-align: center;
}
#scroll-bottom a{
	color: rgba(255,255,255,1);
	font-size: 2em;
}
#scroll-bottom a:hover{
	color: rgba(255,255,255,.5);
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
		 	transform: rotate(360deg);
}
/* TEXT TICKER */
#ticker{
	position: absolute;
	z-index: 3;
	width: 100%;
	text-align: center;
	top: 40%;
}
#ticker h4{
	font-size: 1.2em !important;
	text-transform: none;
	margin-bottom: 10px;
	position: relative;
}
#ticker-text ul li{
	text-align: center;
	padding: 0 40px;
	list-style-type: none;
	font-size: 5em;
}
#ticker-text ul{
	width: 100%;
}
#header .with-breaker:after{
	display: none;
}
#header .with-breaker{
	margin-bottom: 20px;
	padding-bottom: 10px;
}
#header .with-breaker:before{
	width: 80px;
	margin-left: -40px;
	bottom: -10px;
	opacity: .6;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* MAIN CONTAINER
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.main-container{
	padding: 0px 0 20px 0;
	z-index: 5;
	position: relative;
}
.main-container h1,
.main-container h2,
.main-container h3,
.main-container h4{
	margin: 40px 0 20px 0;
}
.with-breaker{
	margin-bottom: 30px;
	text-align: center;
	position: relative;
}
.with-breaker:before{
	width: 140px;
	height: 2px;
	z-index: 3;
	display: block;
	content: "";
	left: 50%;
	margin-left: -70px;
	position: absolute;
	bottom: 14px;
}
h1.with-breaker:before{
	bottom: 21px;
}
h2.with-breaker:before{
	bottom: 18px;
}
h3.with-breaker:before{
	bottom: 14px;
}
h4.with-breaker:before{
	bottom: 11px;
}
h4.with-breaker:after{
	margin-top: 8px;
}
.with-breaker:after{
	content: "\f02e";
	font-weight: normal;
	font-style: normal;
	font-family: "FontAwesome";
	display: block;
	margin-top: 15px;
	font-size: .6em;
}
.main-container .with-breaker span{
	display: block;
	font-weight: initial;
	font-size: .6em;
	text-transform: none;
	margin-top: 10px;
	letter-spacing: normal;
}
.main-container a:hover{
	opacity: .4;
}
.main-container code {
	font-size: .8em;
	position: relative;
	top: -1px;
	color: #FFF;
	border-radius: 2px;
}
.main-container hr{
	border: 0;
	margin: 40px auto;
	width: 60px;
	border-top: 2px solid;
}
.main-container hr.align-left{
	border: 0;
	margin: 0px 0 20px 0;
	width: 60px;
	border-top: 2px solid;
}
.main-container ul, 
.main-container ol{
	margin: 20px 0;	
}
.main-container li{
	line-height: 2em;
}
.main-container blockquote,
.main-container blockquote p{
	border: none;
	font-size: 1.2em;
	line-height: 1.9em;
	/*margin: 30px 0 20px 0;*/
	padding: 0;
}
.main-container blockquote:before{
	content: "\f10d";
	font-family: "FontAwesome";
	font-style: normal;
	font-size: 1.4em;
	float: left;
	margin: 0 20px -18px 0;
}
.main-container pre{
	border: none;
}
.main-container .center{
	text-align: center;
}
.main-container .btn{
	margin: 10px;
	border: 0;
	padding: 15px 30px 13px 30px;
	font-size: .9em;
}
.main-container .btn i{
	padding-right: 6px;
}
.main-container .icon{
	font-size: 3em;
	text-align: center;
	margin: 20px 0 0 0;
}
.main-container .surline{
	background: #FBFF9E;
	padding: 2px 3px;
	border-radius: 1px;
}
.main-container .dropcap{
	font-size: 2.5em;
	float: left;
	margin: 10px 20px 10px 0;
}
.main-container .welcome-message{
	text-transform: none;
	margin-top: 20px;
	margin-bottom: 50px;
	padding: 0 10%;
	line-height: 1.5em;
}
.main-container img{
	max-width: 100%;
}
/* SECOND FEATURED IMAGE*/
.main-container .second-featured{
	text-align: center;
	border-radius: 3px;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* FAQ */
.main-container .faqs-container{
	padding: 0 20px;
}
.main-container li.faq{
	list-style-type: none;
}
.main-container h4.faq-link{
	border-bottom: 1px solid;
	padding: 16px 0;
	margin: 20px 0;
}
.main-container h4.faq-link a:hover i{
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
		 	transform: rotate(360deg);
}
.main-container h4.faq-link i{
	padding-right: 10px;
	position: relative;
}
.main-container .faq-content{
	display: none;
}
/* SOCIAL ICONS */
.main-container ul.social-list{
	margin-top: 10px;
	padding-left: 0;
}
.main-container ul.social-list li{
	display: inline-block;
	padding-right: 15px;
	font-size: 1.2em;
	position: relative;
}
.main-container ul.social-list li:hover a{
	-webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
		 	transform: rotate(360deg);
    position: relative;
	opacity: 1;
}
.main-container ul.share-buttons{
	padding-left: 0;
	text-align: center;
	list-style-type: none;
	margin: 0;
}
.main-container ul.share-buttons li{
	display: inline;
}
.main-container ul.share-buttons li a.button-facebook{
	background: #3B5998;
	color: #FFF;
}
.main-container ul.share-buttons li a.button-twitter{
	background: #00ACED;
	color: #FFF;
}
/* SEARCHFORM */
#container-search-container{
	text-align: center;
	width: 80%;
	margin: auto;
}
#container-search-container #s{
	display: inline-block;
	padding-top: 23px;
	padding-bottom: 23px;
	width: 50%;
	box-shadow: none;
	top: 2px;
	position: relative;
}
/* WIDGETS IN THE MAIN CONTAINER */
.main-container .widget:first-child{
	margin-top: 145px;
}
.main-container .left-sidebar .widget:first-child{
	margin-top: 175px;
}
.main-container .widget{
	padding: 20px;
	background: #F8F8F8;
	border-radius: 5px;
	margin-bottom: 40px;
}
.main-container .widget h1{
	font-size: 2em;
	margin: 0 0 10px 0;
}
.main-container .widget #footer-logo{
	margin-bottom: 10px;
}
.main-container .widget a.btn.btn-default{
	margin: 20px 0 0 0;
	width: 100%;
}
/* UNYSON CHANGES */
.main-container .fw-container{
	padding-left: 0;
	padding-right: 0;
}
.fw-page-builder-content {
	margin: 30px 0 15px 0;
}
.main-container .fw-accordion{
	border-radius: 5px;
}
.fw-accordion .fw-accordion-title:first-child{
	border-radius: 5px 5px 0 0;
}
.fw-tabs-container .fw-tab-content{
	border-radius: 0 0 5px 5px;
}
.fw-map{
	margin-top: 25px;
}
.breadcrumbs{
	margin-bottom: 15px;
	font-size: 100%;
}
.bx-wrapper .bx-viewport{
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
}
.bx-wrapper img{
	margin: auto;
}
.main-container .fw-tabs-container .fw-tab-content img{
	float: none;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* SKILLS 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* SKILLS TABS */
/*.tabs-container{
	width: 90%;
	margin: 40px auto; 
}
.nav-tabs{
	width: 25%;
	float: left;
	border-right: 1px solid #E7E7E7;
	border-bottom: 0;
	position: relative;
	z-index: 2;
}
.nav-tabs>li:nth-of-type(even){
	background: #F8F8F8;
}
.nav-tabs>li{
	display: block;
	float: none;
	margin-bottom: 0;
}
.nav-tabs>li>a{
	border-radius: 0;
	border-bottom: 1px solid #E7E7E7;
	text-align: right;
	padding: 25px;
	margin-right: 0;
}
.nav-tabs>li>a i{
	padding-right: 5px;
}
.nav-tabs>li>a:hover{
	opacity: .9;
}
.nav-tabs > li:last-child > a{
	border-bottom: 0;
	position: relative;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{
	border-left: 0;
	border-right: 0;
	border-top: 0;
}
.nav-tabs>li.active>a:after,
.nav-tabs>li.active>a:hover:after,
.nav-tabs>li.active>a:focus:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	border-style: solid;
	border-width: 0 0 10px 10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{background: inherit;}
.tab-pane{
	width: 75%;
	padding: 50px;
	float: left;
	display: block;
	z-index: 1;
	position: relative;;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
	-webkit-animation-duration: 0.7s;
	     -o-animation-duration: 0.7s;
	   -moz-animation-duration: 0.7s;
			animation-duration: 0.7s;
}
.tab-pane h2{
	margin-top: 0;
	margin-bottom: 15px;
}*/
h2 i,
h1 i{
	margin-right: 18px;
	font-size: 1.6em;
	position: relative;
	bottom: -2px;
}
/* SKILLS SHORTCODE */
.skills{
	margin: 40px auto 30px auto;
	width: 100%;
}
.skills-row{
	width: 100%;
}
.skill{
	border: 1px solid #E7E7E7;
	padding: 20px 40px;
	width: 33%;
	text-align: center;
}
.skill:hover{
    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
            transition-duration: 0.6s;
    color: #FFF;
}
.skill:hover h4 i{
	position: relative;
    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
            transition-duration: 0.6s;
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
		 	transform: rotate(360deg);
}
.skill h4{
	margin-top: 0;
	margin-bottom: 15px;
}
.skill h4 i{
	margin-right: 18px;
	font-size: 1.6em;
	position: relative;
	bottom: -2px;
}
.skills .skills-row:first-child .skill{
	border-top: 0;
}
.skills .skills-row:last-child .skill{
	border-bottom: 0;
}
.skills .skills-row .skill:first-child{
	border-left: 0;
}
.skills .skills-row .skill:last-child{
	border-right: 0;
}
.skill-button{
	margin-bottom: 10px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* PORTFOLIO 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.main-container h1.project-title{
	margin-bottom: 20px;
}
/* PORTFOLIO FILTERS */
#portfolio-filters{
	text-align: center;
	margin-bottom: 35px;
}
#no-portfolio-item{
	display: none;
	position: relative;
	width: 33.333%;
	padding: 20px;
}
#no-portfolio-item .fa{
	font-size: 3em;
}
#no-portfolio-item h4{
	margin: 10px 0;
}
/*  SINGLE PAGE */
.row.single-portfolio{
	margin-top: 50px;
}
.flexslider.image-slider{
	margin: 25px 0 10px 0;
}
.flexslider.image-slider img{
	max-width: 100%;
	height: inherit;
	border-radius: 5px;
}
.project-description p{
	text-align: justify;
}
/*POSTMETADATAS*/
.main-container ul.post-metadatas{
	padding-left: 0;
	list-style-type: none;
	margin-top: 0;
	line-height: 20px;
}
.main-container ul.post-metadatas li{
	line-height: 20px;
}
.main-container ul.post-metadatas li i{
	padding-right: 8px;
}
.main-container ul.post-metadatas li.meta-tags{
	display: inline;
}
/* PORTFOLIO SHORTCODE (http://tympanus.net/Development/HoverEffectIdeas/)*/
.portfolio-container{
	width: 100%;
	margin: 0px auto 60px auto;
	position: relative;
	zoom: 1;
	text-align: center;
}
.portfolio-container figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width: 33.333%;
}
.portfolio-container figure img {
	position: relative;
	display: block;
	height: auto;
	opacity: 1;
	max-width: 100%;
}
.portfolio-container figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.portfolio-container figure figcaption::before,
.portfolio-container figure figcaption::after {
	pointer-events: none;
}
.portfolio-container figure figcaption,
.portfolio-container figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.portfolio-container figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 75%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}
figure.effect-sadie h4 {
	position: absolute;
	top: 50%;
	left: 0;
	opacity: 0;
	font-size: 1.2em;
	width: 100%;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}
figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	font-weight: normal;
	letter-spacing: initial;
	text-transform: none;
	font-size: .9em;
	color: #FFF;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}
figure.effect-sadie:hover h4 {
	color: #fff;
	opacity: 1;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.portfolio-button{
	position: relative;
}
/*VIDEO 1.0.3 */
.video-container iframe{
	width: 100%;
	height: 300px;
	margin-bottom: 30px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* CUSTOM SECTION SHORTCODE + PARALLAX
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.custom-section-container{
	padding: 20px 0 10px 0;
	color: #FFF;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.custom-section-container .container-icon{
	width: 100%;
	display: block;
}
.custom-section-container .container-icon:before{
	position: absolute;
	font-size: 15em;
	opacity: .2;
	left: -20px;
	top: -20px;
	font-family: Fontawesome;
}
.custom-section-container .container{
	padding: 40px 0 35px 0;
}
.custom-section-text, .custom-section-buttons{
	width: 50%;
	float: left;
}
.custom-section-text{
	padding-right: 10%;
	border-right: 1px solid #FFF;
}
.custom-section-text p{
	opacity: .9;
}
.custom-section-text h2{
	margin: 15px 0 15px 0;
}
.custom-section-buttons{
	text-align: right;
	padding-top: 20px;
	position: relative;
}
.custom-section-buttons:before{
	position: absolute;
	content: "\f0da";
	left: -0.5px;
	font-family: "FontAwesome";
	top: 50%;
}
.main-container .custom-section-buttons .btn{
	background: transparent;
	z-index: 10;
	position: relative;
	border: 1px solid #FFF;
	color: #FFF;
}
.main-container .custom-section-buttons a.btn:hover{
	background: #FFF;
	opacity: 1 !important;
	border-color: #FFF;
}
.only-buttons .custom-section-buttons{
	text-align: center;
	width: 100%;
}
.only-buttons .custom-section-buttons:before{
	content: "";
}
.custom-section-container .only-one-buttons .custom-section-text{
	width: 70%;
}
.custom-section-container .only-one-buttons .custom-section-buttons{
	width: 30%;
}
.custom-section-container .only-content .custom-section-text{
	border-right: 0 !important;
	text-align: center;
	width: 100%;
	padding-right: 0 !important;
}

.parallax-section-container{
	text-align: center;
	color: #FFF;
  	width: 100% !important;
  	position: relative;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0 50px 0;
	-webkit-box-shadow: inset 0px 0px 100px 20px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0px 0px 100px 20px rgba(0,0,0,0.8);
	-o-box-shadow: inset 0px 0px 100px 20px rgba(0,0,0,0.8);
	-ms-box-shadow: inset 0px 0px 100px 20px rgba(0,0,0,0.8);
	box-shadow: inset 0px 0px 100px 20px rgba(0,0,0,0.8);
}
.parallax-section-container .container{
	z-index: 10;
  	position: relative;
}
.parallax-section-container p{
	margin: 10px 0;
}
.parallax-section-container h2{
	margin-top: 30px;
}
.parallax-section-container a.btn.btn-default{
	background: #FFF;
}
.parallax-section-container a.btn.btn-default:hover{
	background: rgba(255,255,255,.8);
}
/*VIDEO*/
.bg-video{
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0;
}
.bg-video iframe{
	width: 100%;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* ABOUT 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* TEAM SHORTCODE */
.team-single{
	text-align: center;
	margin-top: 20px;
}
.team-single img{
	border-radius: 50%;
	width: 140px;
}
.team-single h3{
	margin-top: 25px;
	margin-bottom: 15px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* PARTNERS 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.partners-slide img{
	max-width: 100%;
}
.partners-slide .apartner{
	opacity: .5;
	width: 70%;
	display: block;
	margin: 10px auto;
}
.partners-slide a:hover{
	opacity: 1;
}
#partners-slider .flex-direction-nav a{
	margin: -40px 0 0;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* BLOG 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* BLOG GRID */
.main-container ul.blog-grid {
	list-style-type: none;
	padding-left: 0;
	margin: 40px 0;
}
.blog-grid li.blog-post:first-child{
	border-radius: 5px 5px 0 0 ;
}
.blog-grid li.blog-post:first-child img{
	border-radius: 0px 5px 0px 0px;
}
.blog-grid li.blog-post{
	height: 300px;
}
.blog-grid>li:nth-of-type(odd){
	background: #F8F8F8;
}
.blog-grid>li:nth-of-type(odd) .blog-thumbnail{
	float: right;
	margin-right: 0;
	margin-left: 45px;
}
.blog-grid>li:nth-of-type(odd) .blog-content{
	text-align: right;
}
.blog-grid>li:nth-of-type(odd) .blog-button{
	text-align: left;
}
.blog-grid>li:nth-of-type(odd) .blog-sum-up{
	text-align: right;
}
.blog-grid .blog-thumbnail{
	height: 300px;
	float: left;
	margin-right: 45px;
}
.blog-grid .blog-thumbnail a{
	max-width: 100%;
	overflow: hidden;
}
.blog-grid .blog-thumbnail a img{
	height: 300px;
	width: 400px;
}
.blog-grid .blog-content{
	padding: 35px 50px 0 50px;
	height: 300px;
}
.blog-sum-up{
	text-align: left;
}
.main-container h2.blog-post-title{
	margin: 0;
	padding-bottom: 10px;
}
.main-container .blog-grid ul.post-metadatas{
	margin-bottom: 10px;
}
.blog-button{
	text-align: right;
}
/* BLOG SINGLE */
.single-post ul.post-metadatas{
	margin-bottom: 10px;
}
.single-post .blog-content{
	padding-top: 40px;
}
#comments-container{
	background: #F8F8F8;
	padding: 80px 0;
}
.main-container ol.comment-list{
	padding-left: 0;
	width: 80%;
	margin: auto;
}
.comment-list li{
	background: #FFF;
	list-style-type: none;
	border-radius: 3px;
	padding: 40px 40px 30px 40px;
	position: relative;
	margin-bottom: 50px;
}
.comment-list li p{
	padding-left: 95px;
}
.comment-list li div.reply{
	text-align: right;
}
.comment-list li:last-child{
	margin-bottom: 0;
}
.comment-author img{
	border-radius: 50%;
	float: left;
	margin: 10px 20px 20px 0;
	width: 75px;
}
.comment-meta{
	padding: 0px 0 10px 0;
}
.comment-list li:before {
	font-size: 5em;
	position: absolute;
	left: 30px;
	top: 65px;
}
.comment-list .children li:before{
	font-family: "FontAwesome";
	content: "\f064";
	font-size: 2em;
	top: 80px;
	left: -20px;
}
#comment-form{
	margin: 50px auto 0px auto !important;
	width: 50%;
}
#respond{
	text-align: center;
	margin-top: 40px;
}
#comment-form .form-submit{
	display: none;
}
#reply-title{
	margin: 20px 0 10px 0;
}
/* BLOG SHORTCODE */
#blog-container:after{
	bottom: 0;
}
#blog-container .flexslider .blog-post{
	background: #F8F8F8;
}
#blog-container .flexslider .blog-post:nth-of-type(odd){
	background: #FFF;
}
#blog-container .blog-thumbnail{
	height: 200px;
	text-align: center;
	display: block;
	overflow: hidden;
}
#blog-container .blog-thumbnail img{
	width: 100%;
	height: auto;
}
#blog-container .blog-thumbnail i{
	font-size: 4em;
	position: relative;
	top: 40%;
}
#blog-container .blog-thumbnail:hover{
	opacity: .4;
    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
            transition-duration: 0.6s;
}
#blog-container .blog-content{
	padding: 20px 40px 20px 40px;
}
#blog-container .blog-sum-up{
	text-align: justify;
}
#blog-container .blog-post-title h2{
	margin: 0;
	font-size: 1.6em;
}
#blog-container a.blog-post-title{
	padding: 10px 20px 15px 20px !important;
	display: block;
}
#blog-container .flexslider a.blog-post-title{
	padding: 10px 20px 15px 0px !important;
}
#blog-container .post-content{
	padding: 5px 20px;
}
#blog-container .blog-button{
	padding-bottom: 30px;
	text-align: center;
}
#blog-container .blog-button .btn.btn-default{
	background: transparent;
	border: 1px solid;
}
#blog-container ul.post-metadatas{
	margin-bottom: 10px;
}
#blog-container ul.post-metadatas li{
	padding-left: 0;
}
.blog-button{
	margin-bottom: 20px;
	margin-top: 10px;
}
#blog-container .blog-button a.btn.btn-default:hover{
	opacity: 1 !important;
	color: #FFF;
}

.single-post .flexslider .slides > li{
	text-align: center;
}
/*DISQUIS SUPPORT*/
#disqus_thread{margin: 0 20% !important;}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* CONTACT 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* FORM PROCESSING*/
#form_processing .alert-success,
#form_processing .alert-danger{
	width: 100%;
	height: 100%;
	text-align: center;
	border: 0;
	padding-top: 10%;
}
/* CONTACT MAP */
#GoogleMap{
	width: 100%;
	height: 290px;
	margin: 35px 0;
	border-radius: 5px;
}
.fw-map-canvas{
	border-radius: 5px;
}
/* CONTACT FORM */
#contact-form, 
#comment-form{
	margin: 35px 0;
}
#contact-form .control-group,
#comment-form .control-group
{
	margin: 25px 0;
}
#contact-form input.form-control,
#contact-form textarea.form-control,
#contact-form select.form-control,
#comment-form input.form-control,
#comment-form textarea.form-control,
#comment-form select.form-control{
	width: 100%;
	display: block;
	box-shadow: none;
}
/* CONTACT SHORTCODE AND MILESTONES BECAUSE THEY ARE SIMILAR*/
.contact-boxes,
.milestones-boxes{
	width: 100%;
	table-layout: fixed;
	display: table;
}
.contact-box,.contact-box.fa,
.milestone-box{
	color: #FFF;
	display: table-cell;
	padding: 60px 25px 50px 25px;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.contact-box:before,
.milestone-box:before{
	font-family: "FontAwesome";
	position: absolute;
	font-size: 15em;
	opacity: .4;
	left: -30px;
	top: 20px;
}
.contact-box h2{
	margin: 0 0 20px 0;
	-webkit-font-smoothing: initial !important;
}
.contact-box p,
.milestone-box p{
	color: #FFF;
	opacity: .8;
	font-size: .9em;
	min-height: 45px;
	-webkit-font-smoothing: initial;
}
.contact-box a.btn.btn-default{
	background: transparent;
	border: 1px solid rgba(255,255,255,.6);
	color: rgba(255,255,255,1);
	z-index: 2;
	position: relative;
	-webkit-font-smoothing: initial;
}
.contact-box a.btn.btn-default:hover{
	border: 1px solid #FFF;
	background: #FFF;
	opacity: 1;
}
.milestone-box .milestone-number{
	text-align: center;
}
.milestone-box .milestone-number h1{
	display: inline-block;
	padding: 0 5px;
	margin: 0 0 10px 0;
	font-size: 4em;
}
.milestone-box .milestone-number h1:last-child{
	position: relative;
	/*top: 3px;*/
}
.milestone-box h2{
	margin: 0 0 10px 0;
	-webkit-font-smoothing: initial !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* EVENTS (ADDED IN 1.1)
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.cal-month-box [class*="cal-cell"]:hover span[data-cal-date], .cal-month-day.event-day span[data-cal-date]{color: #b3b3b3;}
.details-event-button{
	float: none !important;
	margin: 0 !important;
	text-align: center;
	width: 100%;
}
.cal-month-day.event-day{
	background: #e9e9e9;
}
#cal-slide-tick{
	border-top: 11px solid #e9e9e9;
}
span[data-cal-date]{
	position: absolute;
	font-size: 3em;
	font-weight: bold;
	right: 10px;
	float: none!important;
}
.text-today {
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
  position: absolute;
  top: 13px;
  font-weight: bold;
  left: 6px;
  color: #fff;
  text-transform: uppercase;
}
.cal-month-box .cal-day-today span[data-cal-date]{font-size: 3em;}
.cal-year-box [class*="span"], .cal-month-box [class*="cal-cell"],#cal-slide-content{
	background: transparent;
}
#cal-slide-box{
	border-bottom: 2px solid #b3b3b3;
	border-top: 1px solid #b3b3b3;
}
.cal-row-fluid.cal-row-head [class*="cal-cell"]{
	border-right: 1px solid #b3b3b3;
  	border-bottom: 1px solid #b3b3b3;
}
.cal-year-box .row-fluid, .cal-month-box .cal-row-fluid{
	border-bottom: 1px solid #b3b3b3;
}
.cal-year-box [class*="span"], .cal-month-box [class*="cal-cell"]{
	border-right: 1px solid #b3b3b3;
}
.fw-shortcode-calendar.cal-context{
	border: 1px solid #b3b3b3;
  	border-radius: 10px;
}
.cal-row-fluid:last-child [class*="cal-cell"]:first-child{
	border-bottom-left-radius: 10px;
}
.cal-row-fluid:first-child [class*="cal-cell"]:first-child{
	border-top-left-radius: 10px;
}
.cal-row-fluid:last-child [class*="cal-cell"]:last-child{
	border-bottom-right-radius: 10px;
}
.cal-row-fluid:first-child [class*="cal-cell"]:last-child{
	border-top-right-radius: 10px;
}
.cal-row-fluid:first-child .cal-month-box [class*="cal-cell"]:last-child{
	border-radius: 0!important;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* FOOTER 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#footer{
	padding-top: 70px;
} 
#footer a:hover{
	opacity: .6;
}
/* WIDGETS */
#widgets{
	padding-bottom: 45px;
}
.widget{
	padding: 0 50px;
}
.widget h4{
	font-size: 1.4em;
	padding-bottom: 15px;
}
.widget a.btn.btn-default{
	margin-top: 15px;
	background: transparent;
	font-size: .9em;
	border-radius: 2px;
}
.widget a.btn.btn-default:hover{
	border-color: white;
}
.widget a.btn.btn-default i{
	padding-right: 8px;
}
.widget ul{
	padding-left: 5px;
	list-style-type: none;
	margin: 0;
}
.widget ul li{
	line-height: 1.8em;
}
.widget ul li:before{
	content: "\f105";
	padding-right: 10px;
	font-family: "FontAwesome";
}
.widget ul.social-icons{
	margin-top: 10px;
}
.widget ul.social-icons li{
	display: inline-block;
	padding-right: 15px;
}
.widget ul.social-icons li:before{
	content: "";
	padding-right: 0;
}
.widget ul.social-icons li:hover a{	
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
		 	transform: rotate(360deg);
}
.widget ul li.contact-address:before{
	content: "\f0f7";
}
.widget ul li.contact-phone:before{
	content: "\f095";
}
#footer-logo{
	width: 160px;
	margin-bottom: 30px;
}
/*FLICKR*/
.flickr_badge_image{
	display: inline-block;
	margin: 10px;
}
.widget .wrap-flickr ul{
	padding-left: 0;
}
.widget .wrap-flickr ul li:before{
	content: "";
	padding-right: 0;
}
.widget .wrap-flickr ul li img{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4);
	-ms-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4);
	-o-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4);
}
/*CALENDAR*/
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; text-align: center;}
#wp-calendar tbody td { text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: rgba(255,255,255,.9); }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
/*SEARCH WIDGET ADAPTATION*/
#widgets #search-container input#s{
	background: rgba(0,0,0,.2);
	border: 0;
	padding: 10px 20px;
	border-radius: 5px;
}
#widgets #search-container button{
	border: 1px solid;
	padding: 8px 15px;
	border-radius: 3px;
	margin-left: 10px;
	color: #FFF;
	background: transparent;
}
/* COPYRIGHT */
#copyright{
	background: rgba(0,0,0,.2);
	padding: 15px 0 0 10px;
	font-size: .9em;
}
#copyright p{
	display: inline-block;
}
#footer-navigation{
	display: inline;
	padding-left: 10px;
}
#footer-navigation li{
	display: inline-block;
	list-style-type: none;
}
#footer-navigation li:after{
	content: "|";
	padding: 0 10px;
}
#footer-navigation li:last-child:after{
	content: "";
	padding: 0;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* WORDPRESS CORE 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.bypostauthor{}
.sticky{}
.gallery-caption{}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* PLUGINS 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* FANCYBOX */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-image,.fancybox-inner,.fancybox-nav,.fancybox-nav span,.fancybox-outer,.fancybox-skin,.fancybox-tmp,.fancybox-wrap,.fancybox-wrap iframe,.fancybox-wrap object{padding:0;margin:0;border:0;outline:0;vertical-align:top}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.fancybox-opened{z-index:8030}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,.5);box-shadow:0 10px 25px rgba(0,0,0,.5)}.fancybox-inner,.fancybox-outer{position:relative}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}.fancybox-iframe,.fancybox-image{display:block;width:100%;height:100%}.fancybox-image{width:100%;height:100%;max-width:100%;max-height:100%}#fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{background-image:url(../images/fancybox/fancybox_sprite.png)}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060}#fancybox-loading div{width:44px;height:44px;background:url(../images/fancybox/fancybox_loading.gif) center center no-repeat}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url(images/fancybox/blank.gif);-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040}.fancybox-prev{left:0}.fancybox-next{right:0}.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;opacity:.2;visibility:visible}.fancybox-prev span{left:10px;background-position:0 -36px}.fancybox-next span{right:10px;background-position:0 -72px}.fancybox-nav:hover span{visibility:visible;opacity:1}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;max-width:99999px;max-height:99999px;overflow:visible!important}.fancybox-lock{overflow:visible!important;width:auto}.fancybox-lock body{overflow:hidden!important}.fancybox-lock-test{overflow-y:hidden!important}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url(images/fancybox/fancybox_overlay.png)}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}.fancybox-title{visibility:hidden;font:400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}.fancybox-opened .fancybox-title{visibility:visible}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:0 0;background:rgba(0,0,0,.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:700;line-height:24px;white-space:nowrap}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{padding-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){
	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url("images/fancybox/fancybox_sprite@2x.png");
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}
	#fancybox-loading div {
		background-image: url("images/fancybox/fancybox_loading@2x.gif");
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
/* CONTACT FORM 7 */
.wpcf7-form-control.wpcf7-text, .wpcf7-textarea{outline: none;}
.wpcf7-form-control.wpcf7-text{
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 6px 12px;
	height: 34px;
	margin-top: 15px;
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 1.428571429;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.wpcf7-textarea{
	height: auto;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 6px 12px;
	margin-top: 15px;
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 1.428571429;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.wpcf7-form-control.wpcf7-submit{
	border-radius: 4px;
	border: 0;
	padding: 15px 30px 13px 30px;
	font-size: .9em;
	text-decoration: none !important;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	-webkit-user-select: none;
}
/* FLEXSLIDER */
/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0; max-width: 100%; overflow: hidden;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; list-style-type: none; float: left;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides div {display: block; overflow: hidden;}
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}
/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0px auto 0 auto;width: 100%; position: relative; zoom: 1; }
.flex-viewport { width: 100%; max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { margin: 0 !important; padding: 0 !important; }
/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 40px; height: 50px; margin: -22px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 20px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 20px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "FontAwesome"; padding-top: 15px; font-size: 40px; display: inline-block; content: "\f104"; }
.flex-direction-nav a.flex-next:before  { content: "\f105"; }
/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 10px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.1); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px;}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.3); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.3); cursor: default; }
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
/*PACE*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
  transform: translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events: none;
}
.pace.pace-active .pace-activity {
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
  transform: translateX(50%) translateY(-50%) rotate(45deg);
}
.pace .pace-activity::before,
.pace .pace-activity::after {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}
.pace .pace-activity::before {
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-right-color: rgba(0, 0, 0, .2);
    border-left-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-rotation 3s linear infinite;
    animation: pace-rotation 3s linear infinite;
}
.pace .pace-activity::after {
    bottom: 50px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-rotation 1s linear infinite;
    animation: pace-rotation 1s linear infinite;
}
@-webkit-keyframes pace-rotation {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@keyframes pace-rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
/*COLOR FONT AWESOME SOCIAL ICONS */
.social-list a:hover .fa-adn{color:#504e54;} 
.social-list a:hover .fa-apple{color:#aeb5c5;} 
.social-list a:hover .fa-android{color:#A5C63B;}  
.social-list a:hover .fa-bitbucket,
.social-list a:hover .fa-bitbucket-square{color:#003366;} 
.social-list a:hover .fa-bitcoin,
.social-list a:hover .fa-btc{color:#F7931A;} 
.social-list a:hover .fa-css3{color:#1572B7;} 
.social-list a:hover .fa-dribbble{color:#F46899;}  
.social-list a:hover .fa-dropbox{color:#018BD3;}
.social-list a:hover .fa-facebook,
.social-list a:hover .fa-facebook-square{color:#3C599F;}  
.social-list a:hover .fa-flickr{color:#FF0084;}
.social-list a:hover .fa-foursquare{color:#0086BE;}
.social-list a:hover .fa-github,
.social-list a:hover .fa-github-alt,
.social-list a:hover .fa-github-square{color:#070709;} 
.social-list a:hover .fa-google-plus,
.social-list a:hover .fa-google-plus-square{color:#CF3D2E;} 
.social-list a:hover .fa-html5{color:#E54D26;}
.social-list a:hover .fa-instagram{color:#A1755C;}
.social-list a:hover .fa-linkedin,
.social-list a:hover .fa-linkedin-square{color:#0085AE;} 
.social-list a:hover .fa-linux{color:#FBC002;color:#333;}
.social-list a:hover .fa-maxcdn{color:#F6AE1C;}
.social-list a:hover .fa-pagelines{color:#241E20;color:#3984EA;}
.social-list a:hover .fa-pinterest,
.social-list a:hover .fa-pinterest-square{color:#CC2127;} 
.social-list a:hover .fa-renren{color:#025DAC;}
.social-list a:hover .fa-skype{color:#01AEF2;}
.social-list a:hover .fa-stack-exchange{color:#245590;}
.social-list a:hover .fa-stack-overflow{color:#FF7300;}
.social-list a:hover .fa-trello{color:#265A7F;}
.social-list a:hover .fa-tumblr,
.social-list a:hover .fa-tumblr-square{color:#314E6C;} 
.social-list a:hover .fa-twitter,
.social-list a:hover .fa-twitter-square{color:#32CCFE;} 
.social-list a:hover .fa-vimeo-square{color:#229ACC;}
.social-list a:hover .fa-vk{color:#375474;}
.social-list a:hover .fa-weibo{color:#D72B2B;}
.social-list a:hover .fa-windows{color:#12B6F3;}
.social-list a:hover .fa-xing,
.social-list a:hover .fa-xing-square{color:#00555C;} 
.social-list a:hover .fa-youtube,
.social-list a:hover .fa-youtube-play,
.social-list a:hover .fa-youtube-square{color:#C52F30;}

