.w-40 {
  width: 40%;
}
.w-35 {
  width: 35%;
}
.banner {
  position: relative;
}
h3 {
  color: #ffffff !important;
}
.aboutus-menu li {
  list-style-type: none;
  display: inline-block;
  /* width: calc(100% / 7); */
  width: 14.285%;
  text-align: center;
  line-height: 50px;
}
.aboutus-menu li:first-child a {
  border: none !important;
}
.aboutus-menu li:first-child {
  border: none !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.aboutus-menu li:last-child {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.about-us {
  position: absolute;
  bottom: -10%;
  width: 100%;
}
.aboutus-menu {
  margin-top: 40px;
  /* padding: 10px; */
  background-color: #ffffff;
  border-radius: 10px;
  /* border: 1px solid #dddddd; */
  box-shadow: 4.9px 4.9px 21px 0 rgba(0, 0, 0, 0.11);
}
.aboutus-menu ul {
  margin: 0px;
  padding: 0px;
}
li a {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 10px;
}
li a:hover {
  color: #333333;
  text-decoration: none;
  color: #92d050;
}
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a {
  color: #ffffff !important;
  cursor: default !important;
  background-color: transparent !important;
  border: none !important;
}
.nav-tabs > li.active {
  background-color: #92d050 !important;
  color: #ffffff !important;
  border: none !important;
}
.aboutus-menu li.active + li a {
  border-left: none !important;
}
.nav-tabs {
  border: none !important;
}
.nav-tabs > li > a {
  padding: 10px 10px !important;
  border-radius: 0 !important;
  margin: 0px !important;
}
.aboutus-menu li a {
  border-left: 1px solid #dddddd;
  margin: 10px 0px !important;
}
.aboutus-menu li a:hover {
  border-left: 1px solid red;
  margin: 10px 0px !important;
}
.aboutus-tabs {
  margin-top: 50px;
  margin-bottom: 50px;
}
.path {
  margin-bottom: 50px;
}
.path a {
  color: #828282;
  font-size: 14px !important;
}
.path .current-page {
  font-weight: bold;
  color: #1f1f1f;
}
.path a:hover {
  text-decoration: none;
  color: #10a0db;
}
.profile h3,
.team h3,
.csr-tab h3 {
  color: #10a0db !important;
  font-size: 24px;
  font-weight: bold;
}
.profile h4 {
  color: #92d050;
  font-size: 18px;
  font-weight: bold;
}
.about div {
  padding-right: 0px;
  padding-left: 0px;
  /* margin-top: 10px; */
}
.travelport div{
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 10px;
}
.travelport {
  margin-top: 125px;
}
.business h3{
  font-weight: bold;
}
/* itq Journey */
.journey {
  margin-top: 45px;
  padding: 0px;
  width: 100%;
}
.journey li {
  display: flex;
  list-style-type: none;
}
.year {
  float: left;
  padding: 33px 23px;
  border: 1px dashed #dddddd;
  border-radius: 50%;
  margin: 0px;
  height: 90px;
}
.journey .desc {
  float: left;
  margin: 0;
  margin-left: 34px;
  position: relative;
  /* padding: 52px 20px; */
  width: 415px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.journey .multiple .desc {
  display: block;
}
.journey .desc p {
  margin: 0;
}
.multiple .year {
  margin-top: 40px;
}
div.hr-line {
  position: relative;
  display: inline-block;
  margin-left: 0px;
  height: 5px;
  padding: 18px;
  border-bottom: 1px solid #dddddd;
}
div.hr-line::after {
  content: "\2022";
  position: absolute;
  top: 8px;
  right: -8px;
  font-size: 40px;
  color: #10a0db;
}
div.vr-line {
  width: 0px;
  height: 65px;
  border-left: 1px solid #dddddd;
  margin: 0px;
  margin-left: 50px;
}
div.vr-line.bottom-line,
div.vr-line.top-line {
  height: 80px;
}
div.vr-line.bottom-line {
  margin-top: -30px;
}
div.vr-line.top-line {
  margin-bottom: -40px;
}
.multiple div.hr-line {
  padding: 36px 18px;
}
.multiple div.hr-line::after {
  content: "";
}
.extra-vr {
  position: relative;
  margin-left: 0px !important;
  margin-top: 44px !important;
  height: 80px !important;
}
.extra-vr::before {
  content: "\2022";
  position: absolute;
  top: -26px;
  right: -6px;
  font-size: 40px;
  color: #10a0db;
}
.extra-vr::after {
  content: "\2022";
  position: absolute;
  top: 48px;
  right: -6px;
  font-size: 40px;
  color: #10a0db;
}
/* Leadership Team */
.details {
  text-align: center;
  margin: 20px;
}
.details img {
  width: 100%;
}
.details p {
  margin: 0px;
}
.details .name {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}
.details .designation {
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}
.details .company {
  font-size: 14px;
  font-weight: normal;
  color: #7a7a7a;
  margin-bottom: 30px;
}
.details .read-more {
  color: #632885;
  border: 0.5px solid #dddddd;
  padding: 10px 15px;
}
.details .read-more:hover {
  background-color: #632885;
  color: #ffffff;
}
.team-row {
  margin: 30px 0px !important;
}

/* awards */
.awadrs {
  margin-top: 30px;
}
.award-year h4 {
  color: #92d050;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.award {
  text-align: center;
  margin-right: 25px;
  margin-bottom: 25px;
}
.award p {
  text-align: justify;
}
.award-year {
  margin-bottom: 30px;
}

/* CSR */
.csr-tab {
  margin-top: 30px;
}
.csr-tab h6 {
  font-size: 20px;
  color: #202020;
  margin-top: 20px;
  margin-bottom: 20px;
}
.csr-initiative {
  border-radius: 10px;
  border: solid 0.5px #dddddd;
  background-color: #f6f6f6;
  margin-top: 25px;
  display: flex;
}
.csr-left,
.csr-right {
  padding: 25px;
}
.csr-right {
  border: solid 0.5px #dddddd;
  border-right: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffffff;
}
.csr-right img {
  width: 100%;
  margin: auto;
}
.initiative-bottom-line {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid #92d050;
  width: 90%;
}
.csr-tab p {
  font-size: 15px;
  color: #000000;
}
.csr-initiative h5 {
  font-size: 20px;
}
.csr-initiative .csr-left {
  position: relative;
}
.csr-initiative .csr-left .row .read-more {
  position: absolute;
  bottom: 10px;
  right: 1vh;
}
.blue-text {
  color: #10a0db !important;
}
.p-l-20 {
  padding-left: 20px;
}

.ht-600 {
  height: 600px;
}
.leader-title {
  font-size: 24px !important;
  font-weight: bolder !important;
  color: #000000;
}


/* .modal{
    display: block !important; 
} */

.modal-dialog {
  overflow-y: initial !important;
}
.modal-body {
  height: 479px;
  overflow-y: auto;
}

.subheading-menu li {
  list-style-type: none;
  display: inline-block;
  width: calc(100% / 2);
  text-align: center;
  line-height: 50px;
  border-left: 1px solid #dddddd;
}
.subheading-menu li:first-child {
  border: none !important;
}
.subheading-menu li:first-child a,
.subheading-menu li:first-child {
  border: none !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.subheading-menu li:last-child a,
.subheading-menu li:last-child {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.subheading-us {
  position: absolute;
}
.subheading-menu {
  margin-top: 18px;
  /* padding: 10px; */
  background-color: #ffffff;
  border-radius: 10px;
  /* border: 1px solid #dddddd; */
  box-shadow: 4.9px 4.9px 21px 0 rgba(0, 0, 0, 0.11);
}
.subheading-menu ul {
  margin: 0px;
  padding: 0px;
}
li a {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 10px;
}
li a:hover {
  color: #333333;
  text-decoration: none;
  color: #10a0db;
}
.sub > li.active > a:focus,
.sub > li.active > a:hover {
  color: #ffffff !important;
  cursor: default !important;
  background-color: #10a0db !important;
  border: none !important;
}
.sub > li.active > a {
  background-color: #10a0db !important;
  color: #ffffff !important;
  border: none !important;
}

.nav-tabs {
  border: none !important;
}
.sub > li > a {
  padding: 15px 10px !important;
  border-radius: 0 !important;
  margin: 0px !important;
}
.subheading-tabs {
  margin-top: 110px;
  margin-bottom: 60px;
}
.popup-div .modal-body{
  height: auto !important;
}
.container .row{
  margin-left: 0px;
  margin-right: 0px;
}
.p-l-30{
  padding-left: 30px !important;
}
.bold{
  font-weight: bold;
}
.bottom{
  bottom: 24% !important;
}
.list-details {
  color: #10a0db;
  font-size: 16px;
  padding: 15px 0px;
}
.remove-link {
  text-decoration: none !important;
}
.remove-list-style {
  list-style: none;
}
/* Changes */
.w-50 {
  width: 50%;
}
.leader-title.name{
  color:#632785;
  font-size: 24px !important;
}
.leader-title.designation{
  color:#632785;
  font-size: 16px !important;
}
.modal-body>p{
    font-weight: 600;
    /* font-family: sans-serif; */
}
.csr-activities h5 {
  font-size: 16px;
  color: #632785;
  font-weight: bold;
  margin-bottom: 0px;
}
#csrPolicy h5{
  color: #10a0db !important;
    font-size: 24px;
    font-weight: bold;
}

