.navbar{
    height: 100px !important;
    background-color: #ffffff !important;
    border-color: #f3f3f3 !important;
    margin-bottom: 0px;
}
.navbar-collapse{
    margin-top: 25px !important;
}
/* .navbar-brand{
    padding: 10px 15px;
} */
/* .navbar-brand img{
    width: 160px !important;
} */
#navbar{
    position: relative;
    height: 75px !important;
}
.navbar-header, .navbar-brand{
    height: 100px;
}
.navbar-brand{
    cursor: pointer;
    line-height: 100px;
    padding: 0px !important;
    margin-left: 0px !important;
}
.navbar-brand>img {
    /* height: 100%; */
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-inverse .navbar-toggle .icon-bar{
    background-color: #000000;
  }
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #92d050 !important;
    background-color: transparent !important;
}
.navbar-nav a:hover{
    color: #92d050 !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    color: #92d050 !important;
    background-color: transparent !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: 0px !important;
}
.sub-menu{
    left: 0px !important;
}
.aboutus-menu .nav>li:focus, .aboutus-menu .nav>li:hover{
    background-color: #eeeeee;    
}
.aboutus-menu .nav>li>a:focus, .aboutus-menu .nav>li>a:hover{
    background-color: transparent;
    border-color: transparent;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
}
.dropdown-menu.sub-menu{
    text-transform: uppercase;
    padding: 15px !important;
}
.navbar-form{
    margin-top: 0px;
}
.search-icon{
    line-height: 35px;
    padding: 5px 0px 0px 20px;
    border-left: 1px solid #dddddd;
}
.search-icon a{
    font-size: 25px;
    color: #c2c2c2
}
.search-div{
    width: 75%;
    position: absolute;
    height: 64px;
    
    border-radius: 5px;
    /* float: left; */
    right: 43px;
    z-index: 100;
    /* display: none; */
    /* border: 1px solid #dddddd;; */
    /* border-bottom: 1px solid #ccc; */
    background-color: #ffffff;
    top: -5px;
}
.search-div i{
    position: absolute;
    right: 0;
    top: 26px;
    color: #9e9999;
    width: 24px;
}
.search-input{
    border: none;
    box-shadow: none;
    padding: 10px;
    height: 64px;
}
.search-input:focus{
    box-shadow: none !important;
    outline: none;
    border-color: #ccc !important;
}
.carousel-control{
    left: -20px;
    font-size: 34px;
    color: #111111;
    top: -8px;
}
.carousel-control:focus, .carousel-control:hover{
    color: #111111;
}
.navbar-inverse .navbar-nav>li>a{
    color: #111111 !important;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: #111111 !important;
    background-color: none !important;
}
p {
    font-size: 14px !important;
    color: #333333 !important;
    line-height: 24px;
}
footer p{
    color: #ffffff !important;
}
.nav>li{
    position: static !important;
}

.sub-menu{
    transform-origin: 0px 0px 0px;
    transform: matrix(1, 0, 0, 1, 0, -1);
    box-shadow: 0 0.8rem 2rem -0.5rem rgba(0,0,0,0.04);
    visibility: inherit;
    opacity: 1;
    border: 0px;
    border-radius: 0px;
    padding: 24px !important;
    transition: 5s;
    transition-delay: 2s;
    
}
.sub-menu .row{
    display: flex;
    flex-wrap: wrap;
}
.submenu-div{
    margin-bottom: 10px;
}
.submenu-div a{
    color: #111111;
    font-weight: bold;
    padding: 0px;
}
.submenu-div a:hover{
    color: #08b2f0 !important;
    text-decoration: none;
}
.header-inner-menu{
    padding-inline-start: 10px;
}
.header-inner-menu li{
    list-style-type: none;
}
.header-inner-menu a{
    font-weight: normal;
    text-transform: capitalize;
    font-size: 12px;
}
.dropdown-menu.sub-menu{
    background-color: #f3f3f3;
}
/* .product-slider{
    position: relative;
    overflow: hidden;
}
.product-div,.new-slider , .blog-slider{
    overflow: visible !important;
    margin: auto;
    position: relative;
    
}
.product-div::before ,.product-div::after , .blog-slider::before ,.blog-slider::after {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    z-index: 1;
    pointer-events: none;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
}
.new-slider::before ,.new-slider::after {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    z-index: 1;
    pointer-events: none;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
}
.changed::before{
    box-shadow: -500px 0 0px 0px rgba(0, 0, 0, 0.19);
}
.product-div::after , .new-slider::after , .blog-slider::after{
    box-shadow: 500px 0 0px 0px rgba(0, 0, 0, 0.19);
} */
.bold{
    font-weight: bold !important;
}
.footer-logo{
    margin-left: -20px;
}
#search-modal .modal-dialog{
    width: 100% !important;
    height: auto !important;
}
