
bredcrumbs{float:left;width:100%;padding:10px 0px;}
.innercontainer{
    width:100%;
    margin-top:20px;
}
.innercontainer h2{color:#74bc37;font:25px Arial, Helvetica, sans-serif;padding-bottom:10px;}
.innercontainer h3{
    color:#783e98 !important;
    padding-bottom:10px; 
    float:left; 
    width:100%
}
.innercontainer h4{
    color: #10a0db !important;
  font-size: 24px;
  font-weight: bold;
}
.innercontainer h5{
    color: #74bc37 !important;
  font-size: 16px;
  font-weight: bold;
}

.innercontainer ul{
    float:left;
    width:100%;
    padding-inline-start: 0px;
}
.innercontainer p{
    line-height: 24px;
}
.innercontainer ul li{
    color:#767a76;
    padding:5px 0px;
    list-style-type: none;
    display: inline-block;
}
.innercontainer ul li a{ display:block; width:100%;}
ul.contentlist{padding-bottom:20px;}
ul.contentlist li{
    padding:5px 20px;
}
.contentHolder{float:left;width:100%;padding:10px 0px;position:relative;}

.contentHolder ul{float:left;width:100%;}
.contentHolder ul li{
    color:#767a76;
    padding:5px 0px;
    padding-left:20px;}
.contentHolder .interglobeimg{ position:absolute;right:0px;top:-30px;}

.formHolder dt, .formHolder dd{
    display: inline-block;
}
.formHolder dt{
    vertical-align: top;
}
.innercontainer label{
    width: 180px;
    position: relative;
    margin-right: 10px;
}
.selectOptionHolder label::after , .formHolder label::after{
    content: ':';
    position: absolute;
    right: 10px;
}
.required{
    color: red;
}
.form-control{
    display: inline-block;
    width: 250px;
}
textarea{
    resize: none;
}
.loading{
    float:right;
    width:auto;
    margin-bottom:20px; 
    padding:0px;
}
#loader{
    display: none;
}
.submit{
    color: #ffffff;
    background-color: #10a0db;
    border: none;
    padding: 10px;
    width: 100px;
    font-weight: bold;
}
.travelPortcustHolder h3{
    margin-bottom: 20px;
}
.buttons{
    text-align: center;
}
.contact-form, .map-div{
    padding: 0px;
}
.map-div{
    padding-right: 20px;
}
/* .path{
    margin-bottom: 30px;
} */
#map{
    height: 500px;
}
.accounts{
    border-radius: 10px;
    border: solid 0.5px #dddddd;
    background-color: #f6f6f6;
    margin-top: 25px;
    display: flex;
    padding: 30px;
    margin-bottom: 60px;
}
.blue-text{
    color: #10a0db !important;
}
.blue-text-big{
    color: #10a0db !important;
    font-weight: bold !important;
    font-size: 24px !important;
}
.accounts p{
    margin-bottom: 5px;
}
.accounts h2{
    color: #74bc37;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.bold{
    font-weight: bold;
}
.vl {
    border-left: 1px solid #dddddd;
    height: 170px;
    margin-top: 26px;
  }
  .key-accounts{
      margin-left: 24px;
  }
  .gm-style-iw-d{
      max-width: 245px !important;
  }