body{
    font-family: 'Quicksand', sans-serif !important;
    background-color: #ffffff;
    padding-top: 50px !important;
}
body.home{
    padding-top: 0px !important;
}

.navbar-inverse .fa-angle-down{
    font: normal normal normal 14px/1 FontAwesome !important;
}

.video{
    /* height: 700px; */
}
.video video{
    object-fit: fill;
    width: 100%;
    /* height: 700px; */
}
.inner-menu li{
    list-style-type: none;
}
.inner-menu li a{
    color: #333333 !important;
}
li a{
    line-height: 30px;
}
.list-count{
    display: inline-block;
}
.list-count p{
    display: inline-block;
    font-size: 26px !important;
    font-weight: 600;
    color: #632885 !important;
    text-align: left;
    vertical-align: bottom;
    margin-bottom: 0px;
}
.list-count p span{
    font-size: 16px;
    font-weight: normal;
}
.top-div{
    background-color: #f5f5f5;
    padding: 20px 0px;
    border-bottom: 1px solid #dddddd;
}
.list-count{
    text-align: center;
    border-left: 1px solid #dddddd;
}
.list-count:first-child{
    border: none;
}
.inter-globe{
    padding: 20px 0px;
    /* border: 1px solid #dddddd; */
    margin-top: 25px;
}
.inter-globe-row{
    padding: 25px 0px;
}
h3{
    color: #222222;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 46px;
}
.inter-globe p{
    margin-bottom: 20px;
}
.read-more{
    padding: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #595657;
    font-size: 14px;
    text-decoration: none;
}
.read-more:hover{
    text-decoration: none;
    color: #595657;
}
.products{
    background-color: #f5f5f5;
    padding: 25px 0px;
}
.product{
    width: 315px !important;    
    background-color: #ffffff;
    border-radius: 4px;
    display: inline-block;
    margin-right: 25px;
    height: 490px !important;
}

.product img{
    width: 100%;
}
.product:hover .read-more{
    background-color: #632885;
    color: #ffffff;
    border: none;
}
/* .product:hover img{
    transform: scale(1.1)
} */
.product:hover{
    box-shadow: 4.9px 4.9px 21px 0 rgba(0, 0, 0, 0.11);
}
/* .product.active .read-more{
    background-color: #632885;
    color: #ffffff;
} */
.product-bottom{
    padding: 25px;
}
.product-bottom h4{
    color: #632885;
    font-size: 18px;
}
.blog h4{
    color: #1f1f1f;
}
.product-div,.new-slider , .blog-slider{
    position: relative;
    width: 100% !important;
}
/* .product-slider{
    position: relative;
    overflow: hidden;
}
.product-div,.new-slider , .blog-slider{
    overflow: visible !important;
    margin: auto;
    position: relative;
}
.product-div::before ,.product-div::after , .blog-slider::before ,.blog-slider::after {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    z-index: 1;
    pointer-events: none;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
}
.new-slider::before ,.new-slider::after {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    z-index: 1;
    pointer-events: none;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
}
.changed::before{
    box-shadow: -500px 0 0px 0px rgba(0, 0, 0, 0.19);
}
.product-div::after , .new-slider::after , .blog-slider::after{
    box-shadow: 500px 0 0px 0px rgba(0, 0, 0, 0.19);
} */
.theme{
    list-style-type: none;
    width: 100%;
    padding: 0px;
}
.blog-theme{
    position: relative;
    list-style-type: none;
    width: 100%;
}
#go-right, #new-right, #blog-right {
    position: absolute;
    /* right: -40px; */
    top: 40%;
    right: 10px;
    z-index: 100;
}
#go-right{
    /* right: -40px; */
    right: 10px;
    z-index: 100;
}
#go-left{
    left: 8px !important;
    z-index: 100;
}
#go-left, #new-left, #blog-left {
    position: absolute;
    left: 8px !important;
    top: 40%;
    z-index: 100;
}
#go-left img , #go-right img , #new-right img , #new-left img{
    width: 50px;
}
.business{
    padding: 25px 0px;
}
.individual{
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background-color: #ffffff;
    height: 200px;
    padding: 15px;
}
.individual.active, .individual:hover{
    box-shadow: 4.9px 4.9px 21px 0 rgba(0, 0, 0, 0.11);
}
.individual:hover .next{
    content:url("../assets/our_business_arrow_dark.png");
    width: 40px;
}
h5{
    color: #632885;
    font-size: 16px;
    font-weight: 600;
}
.individual p{
    margin: 0;
}
.next{
    /* float: right; */
    position: absolute;
    bottom: 10px;
    right: 30px;
}
.business-row{
    margin-bottom: 25px;
}
.travel-education{
    padding: 20px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background-color: #ffffff;
    height: 310px;
}
.travel-education .read-more{
    position: absolute;
    bottom: 20px;
}
.travel-education:hover{
    /* border: 1px solid #632885;
    transition: 3s; */
    box-shadow: 4.9px 4.9px 21px 0 rgba(0, 0, 0, 0.11);
}
.education-row{
    display: flex;
    flex-wrap: wrap;
}
.travel-education:hover .read-more{
    /* border: 1px solid #632885;
    color: #632885; 
    transition: 3s;      */
    background-color: #632885;
    color: #ffffff;
    border: none;
}
.course{
    margin: 50px 0px;
}
.course .read-more{
    background-color: #ffffff;
}
.course-login{
    box-shadow: 4.9px 4.9px 21px 0 rgba(0, 0, 0, 0.11);
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 30px 0px;
    padding-left: 90px;
}
.course-login h1{
    font-size: 24px;
    color: #00b0f0;
    margin-bottom: 25px;
}
.course-login input{
    border: solid 1px #dddddd;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 16px;
}
.course-login .btn{
    padding: 10px;
    width: 100px;
    vertical-align: top;
    background-color: #dddddd;
    color: #1f1f1f;
    font-size: 16px;
}
.course-login .btn:hover{
    background-color: #632885;
    color: #ffffff;
}
.course-login a{
    color: #888888;
    font-size: 18px;
    text-decoration: none;
}
.course-right{
    float: right;
    position: relative;
}
.login-image{
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 50%;
    border: 10px solid #eeeeee;
    position: absolute;
    top: 25%;
    left: -7%;
}
.login-image img{
    padding-top: 10px;
}
a , button{
    cursor: pointer;
}
.new, .blog-li{
    width: 350px !important;
    padding: 40px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-right: 25px;
}
.new img{
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.new .new-right{
    display: inline-block;
    width: 225px;
}
.whats-new{
    background-image: url('../assets/background_images_1.png');
    background-size: 100% 100%;
    padding: 25px 0px;
    position: relative;
}
h4{
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 25px;
}
.whats-new h5{
    font-size: 16px; 
}
#myCarousel{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4.9px 4.9px 21px 0 rgba(0, 0, 0, 0.11); 
    padding: 25px;   
}
.partners li img{
    margin: auto;
}
.testimonial-pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    /* background-color: #00b0f0; */
    border-radius: 50%;
    /* vertical-align: top; */
    padding-top: 24px;
}
.saying{
    display: inline-block;
    margin-top: 25px;
    margin-left: 15px;
}
.name{
    color: #00b0f0;
}
.carousel-indicators{
    bottom: -40px;
}
.new-slider{
    /* margin-bottom: 100px; */
    margin-bottom: 50px;
}
.new-slider li:hover{
    border: 1px solid #f5f5f5;      
}
.blog-slider li:hover{
    box-shadow: 4.9px 4.9px 21px 0 rgba(0, 0, 0, 0.11) 
}
.blog-slider li:hover .read-more{
    background-color: #632885;
    color: #ffffff; 
    border: none;
}
.read-more:hover{
    background-color: #632885;
    color: #ffffff; 
    border: none;
}
.testimonial{
    position: absolute;
    bottom: -100px;
    padding-left: 0px !important;
}
.carousel-indicators li{
    background-color: #dddddd;
    border-color: #dddddd;
}
.carousel-indicators li.active{
    background-color: #00b0f0;
}
.partners{
    margin-top: 160px;
}
.partners h4{
    color: #1f1f1f;
}

.carousel-control     		 { width:  4%; }
.carousel-control.left,.carousel-control.right {
    background-image:none;
}

#partnercarousel .carousel-inner{
    width: 95% !important;
    margin: auto !important; 
}
.blog{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}
.blog-li{
    /* height: 315px !important; */
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 25px;
    width: 450px !important;
    height: 250px !important;
}
.blog-li:hover img{
    transform: scale(1.1)
}
.blog-li img{
    width: 125px;
    display: inline-block;
    margin-right: 10px !important;
    vertical-align: top;
}
.blog-li .blog-right{
    display: inline-block;
    width: 250px;
}
.partners li{
    list-style-type: none;
    display: inline-block;
    width: 24%;
}
.footer-top{
    background-color: #464846;
    color: #ffffff;
    padding: 25px 0px;
}
.footer-top a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.footer-top a:hover, .footer-top a:focus{
    opacity: 0.5;
    color: #ffffff;
}
.footer-top li{
    line-height: 1.8em;
    list-style-type: none;
}
.footer-top li a{
    font-weight: normal;
    line-height: 24px;
}
.footer-bottom{
    padding: 10px 0px;
    text-align: center;
    background-color: #333333;
    color: #ffffff;
}
.footer-bottom p{
    margin: 0px;
    color: #dddddd !important;
    font-size: 12px !important;
    text-align: center;
}
.footer-menu{
    padding: 20px 54px;
}
.m-b-0{
    margin-bottom: 0px;
}
.container{
    padding: 0px !important;
}
.product-slick-slider .slick-prev, .product-slick-slider .slick-next{
    top: 48% !important;
}
.product-slick-slider .slick-slide{
    width: 315px !important;    
    background-color: #ffffff;
    border-radius: 4px;
    display: inline-block;
    margin-right: 25px;
    height: 490px !important;
}
.product-slick-slider .slick-prev:before, .product-slick-slider .slick-next:before{
    opacity: 1 !important;
}
.product-slick-slider .slick-prev.slick-disabled:before,.product-slick-slider .slick-next.slick-disabled:before{
    opacity: 0 !important;
}

.product-slick-slider .slick-prev::before{
    content: url('../assets/arrow-left.png') !important;
    /* background: url('../assets/arrow-left.png'); */
}
.product-slick-slider .slick-prev.hidden,
.product-slick-slider .slick-next.hidden {
    opacity: 0;
    pointer-events:none;
}
.product-slick-slider .slick-prev {
    left: 5px !important;
    z-index: 100;
}
.product-slick-slider .slick-next {
    right: 10px !important;
}
.product-slick-slider .slick-next::before{
    content: url('../assets/arrow-right.png') !important;
}
.product-slick-slider .slick-track{
    padding-bottom: 35px;
}
.theme .new{
    display: inline-flex;
    height: 220px;
}
.f-s-26{
    font-size: 26px;
}

.linkedIn{
    position:relative;
    bottom: 15px;
}
div.linkedIn>a>img{
    width:7%;
}