body {
  font-family: "Quicksand", sans-serif;
}
.container {
  padding-left: 0px !important;
}
.aboutus-menu li {
  width: calc(100% / 5) !important;
}
.nav-tabs > li.active > a {
  background-color: #92d050 !important;
}
.interglobeLearning {
  float: right;
}
.years-tabs > li.active > a {
  background-color: white !important;
  color: #92d050 !important;
  font-size: 20px;
  font-weight: bold;
}
.years-tabs > li > a {
  font-size: 20px;
  font-weight: bold;
}
li a:hover{
  color: #333333;
  text-decoration: none;  
  color: #92d050;  
  
}
.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: #ffffff !important; 
  cursor: default !important;
  background-color: #92d050 !important;
  border: none !important;
}
.aboutus-tabs {
  margin-bottom: 50px !important;
}
.h-173-px {
  height: 200px !important;
}
.p-10-px {
  padding: 10px;
}
.m-t-10-px {
  margin-top: 10px;
}
.m-t-30-px {
  margin-top: 30px;
}
.m-t-20-px {
  margin-top: 20px;
}
.m-l-30-px {
  margin-left: 30px !important;
}
.m-t-50-px {
  margin-top: 50px;
}
.m-t-28-px {
  margin-top: -28px;
}
.row {
  margin-left: 0px !important;
  margin-right:  0px !important;
  /* width: 100%; */
}
.m-r-10-px {
  margin-right: 10px;
}
.m-r-8-px {
  margin-right: 1%;
}
.m-l-3-px {
  margin-left: 1%;
}
.m-t-15-px {
  margin-top: 15px;
}
.external-padding {
  padding: 10px 9px !important;
}
.arrow-div {
  position: relative;
  border: 5px solid #dddddd;
}
.arrow-div:after,
.arrow-div:before {
  top: 101%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-div:after {
  /* border-color: rgba(241, 241, 241, 0);
    border-top-color: #f1f1f1;
    border-width: 20px;
    margin-left: -20px; */
}
.arrow-div:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #92d050;
  border-width: 15px;
  margin-left: -19px;
}

.press-room-header {
  color: #10a0db !important;
  font-size: 24px;
  font-weight: bold;
}

.path {
  color: #828282;
}

.years-tabs {
  width: 1155px;
  height: 62px;
  border: solid 1px #dddddd !important;
  background-color: #f8fafb;
}

.year-list {
  width: 10%;
  text-align: center;
}

.panel-title a:after {
  font-family: Fontawesome;
  content: "\f077";
  float: right;
  font-size: 10px;
  font-weight: 300;
}
.panel-title a.collapsed:after {
  font-family: Fontawesome;
  content: "\f078";
}

.panel-group .panel {
  margin-bottom: 0;
  /* border-radius: 4px; */
  border: none;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: white;
  border-color: #ddd;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: white;
  border-color: #ddd;
}

.panel-title-name {
  font-size: 18px;
  color: #1f1f1f;
}

.remove-link {
  text-decoration: none !important;
}

.remove-list-style {
  list-style: none;
}

.fa-chevron-right {
  color: #10a0db;
  font-weight: 900;
  margin-right: 5px;
  font-size: 10px;
}
.list-details-date {
  color: darkgrey;
  font-size: 16px;
}
.list-details {
  color: #10a0db;
  font-size: 16px;
}

.li-a-hover:hover {
  color: darkgray;
}

.side-small-heading {
  font-weight: bolder;
  font-size: 16px;
}

.contentBoxHolder {
  width: 25%;
  float: left;
  border-left: 1px solid #ccc;
  padding: 2%;
  text-align: center;
}
.contentBoxHolder span {
  position: relative;
  padding: 10px 20px;
  background: #37c4e5;
  display: inline-block;
  margin-bottom: 10px;
  color: #fff;
}
.contentBoxHolder span:after {
  position: absolute;
  top: 100%;
  border: 8px solid transparent;
  border-top: 8px solid #37c4e5;
  content: "";
  left: 40%;
}
.img-centre {
  text-align: center;
}
.sub-heading {
  color: #92d050;
  font-size: 18px;
}

.dottedborderHolder {
  padding: 10px 0px;
  border-top: 1px dashed #babcba;
  border-bottom: 1px dashed #babcba;
  float: left;
  width: 100%;
}

.sub-list-heading {
  color: #1d1d1d;
}

.main-heading {
  font-size: 48px;
  color: white;
}
.static_links {
  color: #828282;
}
.path a:hover {
  color: #10a0db;
}
.dynamic-link {
  font-weight: bolder;
  color: #1f1f1f;
}

.video_border {
  width: 1163px;
  height: 232px;
  border: solid 1px #dddddd;
  background-color: #f8fafb;
}
/*.fa,
.fas {
  font-weight: 900;
  margin-right: 5px;
  font-size: 10px;
}*/

.dottedborderbottom {
  padding: 10px 0px;
  border-bottom: 1px dashed #babcba;
  width: 100%;
}
.mail {
  color: #0000cd;
}
.border-left {
  border-left: none;
}
iframe {
  margin-top: 15px;
}
ul.product-list{
  padding-inline-start: 20px !important;
}
.product-list li{
  font-size: 14px !important;
  line-height: 24px;
  text-align: justify;
}
div{
  text-align: justify;
}
.bold{
  font-weight: bold;
}
.p-10{
  padding: 10px;
}
.careers-video{
  display: flex;
  padding: 16px 0px;
}
.careers-video img{
  width: 356px;
    height: 192px;
}