.about-us {
  bottom: 6% !important;
}
.aboutus-menu {
  margin-top: 40px;
  /* padding: 10px; */
  background-color: #ffffff;
  /* border-radius: 10px; */
  /* border: 1px solid #dddddd; */
  box-shadow: none !important;
  margin-bottom: 50px;
}
.login-content {
  position: relative;
  margin-left: 17%;
}
ul.product-list{
  padding-inline-start: 20px !important;
}
.product-list li{
  font-size: 14px !important;
  line-height: 24px;
  text-align: justify;
}
.bottom{
  bottom: 20% !important;
}
.m-t-25{
  margin-top: 25px !important;  
}