.container {
  padding-left: 0px !important;
}
.aboutus-menu li {
  width: calc(100% / 3) !important;
}
.nav-tabs > li.active > a {
  background-color: #92d050 !important;
}
.row .col-md-1 {
  padding-left: 0px !important;
}
.years-tabs > li.active > a {
  background-color: #08b2f0 !important;
  color: #ffffff !important;
  font-size: 20px;
  font-weight: bold;
}
.years-tabs > li > a {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.years-tabs > li a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #08b2f0 !important;
}
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #ffffff !important;
  cursor: default !important;
  background-color: #92d050 !important;
  border: none !important;
}
.aboutus-tabs {
  margin-bottom: 50px !important;
}
.m-t-10-px {
  margin-top: 10px;
}
.row {
  margin-left: 0px;
}
.m-r-10-px {
  margin-right: 10px;
}
.arrow-div {
  position: relative;
  border: 5px solid #dddddd;
}
.arrow-div:after,
.arrow-div:before {
  top: 101%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-div:after {
  /* border-color: rgba(241, 241, 241, 0);
  border-top-color: #f1f1f1;
  border-width: 20px;
  margin-left: -20px; */
}
.arrow-div:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #92d050;
  border-width: 15px;
  margin-left: -19px;
}

.press-room-header {
  color: #10a0db !important;
  font-weight: bold;
}

.path {
  color: #828282;
}

.years-tabs {
  /* width: 1155px; */
  /* height: 62px; */
  border: solid 1px #dddddd !important;
  background-color: #f8fafb;
}

.year-list {
  /* width: 10%; */
  text-align: center;
}

.panel-title a:after {
  font-family: Fontawesome;
  content: "\f077";
  float: right;
  font-size: 10px;
  font-weight: 300;
}
.panel-title a.collapsed:after {
  font-family: Fontawesome;
  content: "\f078";
}

.panel-group .panel {
  margin-bottom: 0;
  /* border-radius: 4px; */
  border: none;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: white;
  border-color: #ddd;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: white;
  border-color: #ddd;
}

.panel-title-name {
  font-size: 18px;
  color: #1f1f1f;
}

.remove-link {
  text-decoration: none !important;
}

.remove-list-style {
  list-style: none;
}

.fa-chevron-right {
  color: #10a0db;
  display: inline;
}
.list-details-date {
  color: darkgrey !important;
  font-size: 16px !important;
  display: inline-block;
  width: 12%;
  position: relative;
}
.list-details {
  color: #10a0db;
  font-size: 16px;
}

.li-a-hover:hover {
  color: darkgray;
}

.static_links {
  color: #828282;
}
.path a:hover {
  color: #10a0db;
}
.dynamic-link {
  font-weight: bolder;
  color: #1f1f1f;
}
.list-details-date::after {
  content: ":";
  position: absolute;
  right: 0;
  top: 0;
}
