.p-r-0 {
  padding-right: 0px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}

.m-t-50 {
  margin-top: 50px;
}

.online-sol-tab > .nav-tabs > li {
  float: none !important;
}

.w-60 {
  width: 60%;
}

.ht-190 {
  height: 190px !important;
}

/* tabs */

.contents h4 {
  color: #10a0db !important;
  font-size: 24px;
  font-weight: bold;
}
.contents {
  margin-top: 50px;
  margin-bottom: 50px;
}
.airways-top {
  margin-top: 40px;
}
.airways {
  text-align: center;
  background-color: #f6f6f6;
  margin-top: 10px;
  border: 1px solid #dddddd;
  border-right: 0px;
}
.airways:last-child {
  border-right: 1px solid #dddddd;
}
.downloads {
  position: relative;
  padding: 30px;
}
.airways .icon-white {
  display: none;
}
.airways:hover {
  background-color: #10a0db;
  color: #ffffff;
  text-align: center;
}
.airways:hover .download-icon {
  content: url("../assets/products/download_white.png");
}
.airways:hover p {
  color: #ffffff !important;
}
.airways:hover .icon {
  display: none;
}
.airways:hover .icon-white {
  display: block;
  margin: auto;
}
a:hover,
a {
  text-decoration: none;
}
.download-icon {
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.airways-top h5 {
  color: #92d050 !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}
.video-link {
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4.9px 4.9px 21px 0 rgba(0, 0, 0, 0.11);
}
.training-module {
  margin: 0px;
  padding: 20px;
  text-align: center;
  border: 1px solid #dddddd;
  border-top: 0px;
  background-color: #f6f6f6;
}
.module {
  font-size: 18px;
  color: #333333;
  margin-bottom: 25px;
}

/* enhanced utilities */
.enhanced-utilities-tabs {
  float: right;
}
.enhanced-utilities-tabs img {
  width: 15%;
  margin-right: 10px;
}
.enhanced-utilities-tabs .nav-tabs > li > a {
  padding: 5px 10px !important;
  border-radius: 4px !important;
}
.enhanced-utilities-tabs .nav-tabs > li {
  border-radius: 5px !important;
  margin: 5px !important;
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
}
.enhanced-utilities-tabs .nav-tabs > li:hover,
.enhanced-utilities-tabs .nav-tabs > li.active {
  background-color: #10a0db !important;
  /* border: 0 !important; */
}
.enhanced-utilities-tabs .nav-tabs > li:hover > a,
.enhanced-utilities-tabs .nav-tabs > li.active > a {
  color: #ffffff !important;
  background-color: transparent !important;
}
.enhanced-utilities.row {
  margin: 0px;
  margin-bottom: 100px;
}
.financial {
  padding: 0px;
}
.bold {
  font-weight: bold;
}
.financial li {
  font-size: 15px;
  list-style-type: none;
  line-height: 30px;
}
.financial li::before {
  content: "\2022";
  color: #10a0db;
  margin-right: 10px;
  font-size: 25px;
  vertical-align: middle;
}

.col-sm-6 {
  padding-right: 0px !important;
  padding-left: 0px !important;
  height: 180px;
}

.white-img {
  display: none;
}

/* .nav-tabs>li.active>a .white-img{
display: block;
} */

.nav-stacked li:active a .card-img-white,
.nav-stacked li.active a .card-img-white {
  display: inline;
}
.nav-stacked li:hover a .card-img-white {
  display: inline;
}
.nav-stacked li:hover a .card-img {
  display: none;
}
.nav-stacked li:active a .card-img,
.nav-stacked li.active a .card-img {
  display: none;
}

.card-img-white {
  display: none;
}
.m-t-0{
  margin-top: 0px;
}
ul.product-list{
  padding-inline-start: 20px !important;
}
.product-list li{
  font-size: 14px !important;
  line-height: 24px;
  text-align: justify;
}