.contents h4 {
  color: #10a0db !important;
  font-size: 24px;
  font-weight: bold;
}
.contents {
  /* margin-top: 50px; */
  padding: 0px;
}
.container {
  padding: 0px;
}
.airways-top {
  margin-top: 40px;
}
.m-t-50-px {
  margin-top: 50px;
}
.airways {
  text-align: center;
  background-color: #f6f6f6;
  margin-top: 10px;
  border: 1px solid #dddddd;
  border-right: 0px;
}
.airways:last-child {
  border-right: 1px solid #dddddd;
}
.downloads {
  position: relative;
  padding: 30px;
}
.airways .icon-white {
  display: none;
}
.airways:hover {
  background-color: #10a0db;
  color: #ffffff;
  text-align: center;
}
.airways:hover .download-icon {
  content: url("../assets/products/download_white.png");
}
.airways:hover p {
  color: #ffffff !important;
}
.airways:hover .icon {
  display: none;
}
.airways:hover .icon-white {
  display: block;
  margin: auto;
}
a:hover,
a {
  text-decoration: none;
}
.download-icon {
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.airways-top h5 {
  color: #92d050 !important;
  font-size: 18px !important;
  font-weight: bold !important;
}
.video-link {
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4.9px 4.9px 21px 0 rgba(0, 0, 0, 0.11);
}
.training-module {
  margin: 0px;
  padding: 20px;
  text-align: center;
  border: 1px solid #dddddd;
  border-top: 0px;
  background-color: #f6f6f6;
}
.module {
  font-size: 18px;
  color: #333333;
  margin-bottom: 25px;
}

/* enhanced utilities */
.enhanced-utilities-tabs {
  float: right;
}
.enhanced-utilities-tabs img {
  width: 15%;
  margin-right: 10px;
}
.enhanced-utilities-tabs .nav-tabs > li > a {
  /* padding: 5px 10px !important; */
  border-radius: 4px !important;
}
.enhanced-utilities-tabs .nav-tabs > li {
  border-radius: 5px !important;
  margin: 5px !important;
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
}
.enhanced-utilities-tabs .nav-tabs > li:hover,
.enhanced-utilities-tabs .nav-tabs > li.active {
  background-color: #10a0db !important;
  /* border: 0 !important; */
}
.enhanced-utilities-tabs .nav-tabs > li:hover > a,
.enhanced-utilities-tabs .nav-tabs > li.active > a {
  color: #ffffff !important;
  background-color: transparent !important;
}
.enhanced-utilities.row {
  margin: 0px;
}
.financial {
  padding: 0px;
}
.bold {
  font-weight: bold;
}
.financial li {
  font-size: 15px;
  list-style-type: none;
  line-height: 30px;
}
.financial li::before {
  content: "\2022";
  color: #10a0db;
  margin-right: 10px;
  font-size: 25px;
  vertical-align: middle;
}

/* world span */

/* .list-group-item{
    margin: 10px 0px !important;
    border-radius: 4px !important;
} */
.worlspan-menu {
  float: right;
}
.panel {
  box-shadow: none !important;
}
.main-menu-a {
  border-radius: none !important;
  border: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  background-color: #f8fafb;
  color: #10a0db !important;
  border-radius: 0;
}
.main-menu-a:hover,
.main-menu-a:focus {
  background-color: #f8fafb !important;
  color: #10a0db !important;
}
.main-menu-a::after {
  content: "\f077";
  color: #10a0db;
  vertical-align: middle;
  float: right;
  font-family: FontAwesome;
}
.active-submenu {
  background-color: #10a0db !important;
  color: #ffffff !important;
}
.sub-menu-a {
  margin: 10px 10px !important;
  border-radius: 4px !important;
  background-color: #f8fafb;
  color: #10a0db;
  border: 1px solid #dddddd !important;
  border-left: 1px solid #dddddd !important;
  border-right: 1px solid #dddddd !important;
}
.sub-menu-a:hover {
  background-color: #10a0db !important;
  color: #ffffff !important;
}
.sub-menu-a::after {
  content: "" !important;
}
.inner-menu-a {
  border: none !important;
  border-radius: 0 !important;
  margin: 0 15px !important;
  padding: 10px !important;
}
.inner-menu-a::before {
  content: "\f054";
  color: #10a0db;
  vertical-align: middle;
  margin-right: 10px;
  font-family: FontAwesome;
}

.f-left{
  float: left !important;
}
.f-right{
  float: right !important;
}
.csr-activities p{
  text-align: justify;
}
.modal-content{
  padding: 20px;
}
.foundation{
  margin-bottom: 20px;
}
.popup-div ul{
  padding-inline-start: 20px !important;
}
#csrPolicy ul, #csrPolicy ol{
  padding-inline-start: 18px;
}
.no{
  width:80px;
  height:45px;
}
.particular{
  width:281px;height:45px;
}
.proposed{
  width:200px;height:45px;
}
.paragraph-heading{
  font-weight: 600;
}
ul.product-list{
  padding-inline-start: 20px !important;
}
.product-list li{
  font-size: 14px !important;
  line-height: 24px;
  text-align: justify;
}
.heading h3{
  margin-bottom: 10px;
}
.p-t-12{
  padding: 12px 0px;
}
.m-t-0{
  margin-top: 0px;
}
.ticketing-subheading {
  font-size: 18px !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #92d050 !important;
  font-weight: bold;
}