.nav-tabs > li.active > a {
  background-color: #92d050 !important;
}

.nav-tabs > ul > li {
  box-shadow: 7.1px 7.1px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.ht-20-px {
  height: 20px;
}

.m-t-20-px {
  margin-top: 20px;
}

.m-0 {
  margin: 0px;
}

.p-0 {
  padding: 0px;
}

.m-t-25px {
  margin-top: 25px;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.m-t-40 {
  margin-top: 40px;
}

.ht-60 {
  height: 60px !important;
}

.ht-50 {
  height: 50px !important;
}

.br-5 {
  border-radius: 5px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-t-75 {
  margin-top: 75px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.f-12 {
  font-size: 12px;
}

.b-r-0 {
  border-right: 0px !important;
}

.b-b-0 {
  border-bottom: 0px !important;
}

.breadcrumb {
  background-color: white !important;
}

/* .contents {
    padding: 2% 20%;
} */

.heading {
  color: #10a0db;
  padding-bottom: 5px;
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  background-color: #f8fafb;
  border: 1px solid #dddddd;
  height: 180px;
}

.card-default:hover {
  background-color: #08b2f0;
  color: #ffffff;
}

.card-default:hover .card-img {
  display: none;
}

.card-img-white {
  display: none;
}

.card-default:hover .card-img-white {
  display: block;
}

.card-default:hover .arrow {
  display: block;
}

.card:active {
  background-color: #08b2f0;
}

.card:active .card-img-small {
  display: none;
}

.card:active .card-img-white-small {
  display: block;
}

.card > .card-link {
  color: #333;
}

.card > .card-link:hover {
  text-decoration: none;
}

.card > .card-link .card-img img {
  border-radius: 6px 6px 0 0;
}

.card .card-img {
  position: relative;
  padding: 0;
  /* left: 40%; */
  text-align: center;
}

.card .card-img-white {
  position: relative;
  padding: 0;
  /* left: 40%; */
  text-align: center;
}

.card .card-img .card-caption {
  position: absolute;
  right: 0;
  bottom: 16px;
  left: 0;
}

.card .card-body {
  width: 100%;
  padding: 12px;
  margin-top: 30px;
}

.card .card-header {
  border-radius: 6px 6px 0 0;
  padding: 8px;
}

.card .card-footer {
  border-radius: 0 0 6px 6px;
  padding: 8px;
}

.card .card-center {
  position: relative;
  text-align: center;
  padding: 0 0 8px 0;
  margin-top: 10px;
}

.card-img-responsive {
  width: 67px;
  height: 67px;
}

.col-sm-4 {
  padding-right: 0px !important;
  padding-left: 0px !important;
  height: 180px;
}

.feature-text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #2c2c2c;
  padding: 0px;
}

.link-text-color {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  letter-spacing: normal;
  text-align: left;
  color: #000000 !important;
}

.link-text-color .link-color {
  color: #08b2f0 !important;
}

.banner {
  background-color: #0a204a;
}

.product-video {
  border: 26px solid #0c2755;
  height: 552px;
}

.product-video video {
  object-fit: fill;
  width: 100%;
  height: 500px;
}

.arrow {
  display: none;
  width: 41px;
  height: 30px;
  float: right;
}

.img-text {
  text-align: center;
}

/* .arrow-block{
    text-align: right;
} */

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}

.product-title {
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.54;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

nav ol.breadcrumb li.breadcrumb-item a {
  color: #828282 !important;
}

nav ol.breadcrumb li.breadcrumb-item.active a {
  color: #1f1f1f !important;
}

/* ticketing */
.img-responsive-small {
  height: 32px;
  width: 32px;
}

.card-img-small {
}

.card:hover .card-img-small {
  display: none;
}

.card-img-white-small {
  display: none;
}

.card:hover .card-img-white-small {
  display: block;
}

.card:hover .img-text-small {
  color: #ffffff;
}

.img-display {
  display: block !important;
}

.img-text-small {
  /* font-size: 18px; */
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}

.ticketing-heading {
  font-size: 24px;
  color: #08b2f0;
}

.ticketing-subheading {
  font-size: 18px !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #92d050 !important;
  font-weight: bold;
}

.ticketing-subheading-black {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #1d1d1d;
}

.product-title {
  padding: 3% 0;
}

.bg-blue {
  background-color: #08b2f0;
}

.white-text {
  color: #ffffff !important;
}

.content {
  margin-top: 50px !important;
  margin-bottom: 50px;
}

.breadcrumb {
  padding: 8px 0px !important;
}

.static_links {
  color: #828282;
}
.path a:hover {
  color: #10a0db;
}
.dynamic-link {
  font-weight: bolder;
  color: #1f1f1f;
}
.fa,
.fas {
  font-weight: 900;
  margin-right: 5px;
  font-size: 10px;
}
.fa-chevron-right {
  color: #10a0db;
}
.side-small-heading {
  font-weight: bolder;
  font-size: 16px;
}
.m-t-30-px {
  margin-top: 30px;
}
.m-b-30-px {
  margin-bottom: 30px;
}
.search .fa-search{
  font-size: 25px;
}
ul.product-list{
  padding-inline-start: 20px !important;
}
.product-list li{
  font-size: 14px !important;
  text-align: justify;
  line-height: 24px;
}
.p-0{
  padding: 0px;
}