.m-t-70px {
    margin-top: 70px;
}

.m-b-25px {
    margin-bottom: 25px;
}

.m-t-100 {
    margin-top: 100px;
}

.ht-600{
    height: 600px !important;
}

.p-r-10{
    padding-right: 10px !important;
}

.p-l-10{
    padding-left: 10px !important;
}

.w-50{
    width: 50%;
}
.p-l-0{
    padding-left: 0px !important;
}

.p-r-0{
    padding-right: 0px !important;
}
.p-l-25{
    padding-left: 25px !important;
}

.m-b-20-px{
    margin-bottom: 20px;
}
.p-t-27p{
    padding-top: 27% !important;
}
.p-t-10p{
    padding-top: 10% !important;
}

.ht-430{
    height: 430px !important;

}
.p-t-20px{
    padding-top: 20px !important;
}
.m-t-40-px{
    margin-top: 40px;
}

.m-t-60-px{
    margin-top: 60px;
}

.border-0{
    border: 0px !important;
}

.ht-515{
    height: 515px !important;
}

.ht-100{
height: 92px !important;
}

.f-r{
    float: right;
}

.p-2p{
    padding: 2% !important;
}

.ht-500{
    height: 500px !important;
}

.ht-550{
    height: 550px !important;;
}

.p-t-35px{
    padding-top: 25px !important;
}

.p-t-6p{
    padding-top: 6% !important;
}
.m-t-50{
    margin-top: 50px;
}
.ht-340{
    height: 340px !important;
}

.ht-300{
    height: 300px !important;
}

.ht-410{
    height: 410px !important;
}

.p-t-0{
    padding-top: 0px !important;
}
.introduction-text {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
}

.blue-text {
    color: #10a0db !important;
    font-size: 18px !important;
}

.card .card-6-6 .card-left {
    width: 50%
}

.card .card-6-6 .card-right {
    width: 50%;
}

.card .card-left {
    position: relative;
    float: left;
    padding: 0 0 8px 0;
}

.card .card-right {
    position: relative;
    float: left;
    padding: 8px 0 0 15px;
}

.card {
    height: 335px;
    background-color: #f8fafb !important;
    position: relative;
}

.card-text-heading{
    font-size: 18px;
    height: 50px;
    
}

.card-text {
    font-size: 16px;
    color: #2c2c2c;
}

.ndc-image {
    /* width: 540px; */
    width: 100%;
    height: 305px;
}

.card .card-body {
    margin-top: 0px !important;
}

/* .read-now-button{
    width: 148px;
    height: 49px;
border-radius: 10px;
border: solid 1px #ebebeb;
background-color: #ffffff;
font-family: OpenSans;
font-size: 16px;
color: #2c2c2c;

} */

.read-more{
    width: 148px;
    height: 49px;
    padding: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    border-radius: 6px;
    color: #595657;
    font-size: 16px;
    text-decoration: none;
}
.read-more:hover{
    background-color: #632885;
    text-decoration: none;
    color: #ffffff;
    border: none;
}
/* .read-more:hover{
    text-decoration: none;
    color: #595657;
} */

.card-6-6-image-div{
    text-align: center;
}

.card-6-6-image{
    width: 90%;
    height: 265px;
}

.card-3-3-image-div{
    text-align: center;
}
.card-3-3-image{
width: 80%;
/* height: 160px; */
}

.card-4-4-image{
    width: 95%;
    height: 250px;
}

.card-4-4-image-div{
    text-align: center;
}

.blue-background{
    background-color: #10a0db !important;
}

.white-text{
    color: #ffffff;
}

.bg-white{
    background-color: #ffffff !important;
}

.card-footer{
    position: absolute;
    bottom: 0px;
}

.card-header{
    padding: 20px 25px !important;
}

.card-3-3-img{
    width: 90%;
    height: 160px;
}

.ndc-image-book{
    width: 100%;
    height: 482px;
}

.ht-435px{
height: 435px;
}

.ndc-top-img{
    width: 100%;
    height: 390px;
    border: 26px solid #0c2755;
}

.text-heading{
    font-size: 18px;
}
.bg-beige{
background-color:#fbfbf9;
}

.p-b-20px{
    padding-bottom: 20px !important;
}

.m-b-58px{
    margin-bottom: 58px;
}
ul.product-list{
    padding-inline-start: 20px !important;
  }
  .product-list li{
    font-size: 14px !important;
    line-height: 24px;
    text-align: justify;
  }
  .heading h3{
    margin-bottom: 10px !important;
  }
  .p-t-12{
    padding: 12px 0px;
  }
  .m-b-36{
      margin-bottom: 36px;
  }