@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.panel-title > a:before {
  float: right !important;
  font-family: FontAwesome;
  content: "\f068";
  padding-right: 5px;
  color: #10a0db;
  margin-top: 10px;
}
.panel-title > a.collapsed:before {
  float: right !important;
  content: "\f067";
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus {
  text-decoration: none;
}
.m-t-0-px{
  margin-bottom: 0px;
}
.subheading-menu li {
  list-style-type: none;
  display: inline-block;
  width: calc(100% / 3);
  text-align: center;
  line-height: 50px;
  border-left: 1px solid #dddddd;
}
.subheading-menu li:first-child {
  border: none !important;
}
.subheading-menu li:first-child a , .subheading-menu li:first-child{
  border: none !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.subheading-menu li:last-child a , .subheading-menu li:last-child {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.subheading-us {
  position: absolute;
}
.subheading-menu {
  margin-top: 40px;
  /* padding: 10px; */
  background-color: #ffffff;
  border-radius: 10px;
  /* border: 1px solid #dddddd; */
  box-shadow: 4.9px 4.9px 21px 0 rgba(0, 0, 0, 0.11);
}
.subheading-menu ul {
  margin: 0px;
  padding: 0px;
}
li a {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 10px;
}
li a:hover {
  color: #333333;
  text-decoration: none;
  color: #10a0db;
}
.sub > li.active > a:focus,
.sub > li.active > a:hover {
  color: #ffffff !important;
  cursor: default !important;
  background-color: #10a0db !important;
  border: none !important;
}
.sub > li.active > a {
  background-color: #10a0db !important;
  color: #ffffff !important;
  border: none !important;
}

.nav-tabs {
  border: none !important;
}
.sub > li > a {
  padding: 15px 10px !important;
  border-radius: 0 !important;
  margin: 0px !important;
}
.subheading-tabs {
  margin-top: 120px;
  margin-bottom: 100px;
}

.sub-heading-accordion {
  color: #10a0db;
  width: 30px;
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel:hover {
  border-color: #10a0db;
}
.card {
  background-color: white;
  border: none !important;
  height: auto;
}

.card .card-header {
  border-radius: 0px !important;
  padding: 0px !important;
}
.card .card-body {
  padding: 0px !important;
  margin-top: 0px !important;
}
.card .card-img {
  left: 0% !important;
  text-align: center;
}

.card-default:hover {
  background-color: white;
  color: #08b2f0;
}

.card-default:hover .card-img {
  display: none;
}

.card-img-white {
  display: none;
}

.card-default .card-img-white {
  /* display: block; */
  text-align: center;
  left: 0% !important;
}

.card-default:hover .arrow {
  display: block;
}
.container-side-tabs {
  display: none;
}
.flex-column {
  float: right;
}

.clear-nav {
  clear: both;
  float: unset;
  background: none;
}
.activetab{
  color: #10a0db !important;
}
.submenu-active{
  background-color: #10a0db !important;
  color: #ffffff !important;
}
.changed-icon::after{
  content: '\f107' !important;
  font-size: 22px;
  font-weight: bold;
}
.m-t-0{
  margin-top: 0px;
}
